[package]
name = "network-scanner"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.80"
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
dns-lookup = "2.0.4"
mdns-sd = "0.10.4"
network-interface = "1.1.1"
network-scanner-net = { path = "../network-scanner-net" }
network-scanner-proto = { path = "../network-scanner-proto" }
parking_lot = "0.12.1"
socket2 = "0.5.5"
thiserror = "1.0.57"
tokio = { version = "1.36.0", features = ["rt", "sync", "time", "fs"] }
tracing = "0.1.40"
typed-builder = "0.18.1"
serde = "1.0"

[target.'cfg(target_os = "windows")'.dependencies]
ipconfig = "0.3.2"

[target.'cfg(target_os = "linux")'.dependencies]
futures-util = "0.3.30"
netlink-packet-route = "0.19.0"
rtnetlink = "0.14.1"

[dev-dependencies]
tokio = { version = "1.36.0", features = ["rt","macros","rt-multi-thread","tracing","signal"] }
tracing-subscriber = "0.3.18"
