[package]
name = "network-scanner"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.79"
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
network-interface = "1.1.1"
network-scanner-net ={ path = "../network-scanner-net" }
network-scanner-proto ={ path = "../network-scanner-proto" }
parking_lot = "0.12.1"
socket2 = "0.5.5"
thiserror = "1.0.56"
tokio = { version = "1.35.1" , features = ["rt"]}
tracing = "0.1.40"
typed-builder = "0.18.1"

[dev-dependencies]
tokio = { version = "1.36.0", features = ["rt","macros","rt-multi-thread","tracing"] }
tracing-subscriber = "0.3.18"
