[package]
name = "network-scanner"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2024"
publish = false

[lints]
workspace = true

[dependencies]
anyhow = "1"
crossbeam = { version = "0.8", features = ["crossbeam-channel"] }
dns-lookup = "2.0"
mdns-sd = "0.11"
network-interface = "2.0"
network-scanner-net = { path = "../network-scanner-net" }
network-scanner-proto = { path = "../network-scanner-proto" }
parking_lot = "0.12"
socket2 = "0.5"
thiserror = "2"
tokio = { version = "1.45", features = ["rt", "sync", "time", "fs"] }
tracing = "0.1"
typed-builder = "0.21"

[target.'cfg(target_os = "windows")'.dependencies]
ipconfig = "0.3"

[target.'cfg(target_os = "linux")'.dependencies]
futures-util = "0.3"
netlink-packet-route = "0.25"
rtnetlink = "0.14"

[dev-dependencies]
tokio = { version = "1.45", features = ["rt", "macros", "rt-multi-thread", "tracing", "signal"] }
tracing-subscriber = "0.3"
