<div #sessionVncContainer>
  <div *ngIf="currentStatus.isDisabled" class="session-form">
    <web-client-form
      [webSessionId]="webSessionId"
      [inputFormData]="formData"
      [error]="clientError"
      [isFormExists]="true"></web-client-form>
  </div>

  <session-toolbar
    [sessionContainerParent]="sessionContainerElement"
    [leftButtons]="leftToolbarButtons"
    [middleButtons]="middleToolbarButtons"
    [middleToggleButtons]="middleToolbarToggleButtons"
    [rightButtons]="rightToolbarButtons"
    [checkboxes]="checkboxes"
    [sliders]="sliders">
  </session-toolbar>

  <div class="loading-info-container" *ngIf="loading">
    <div class="loading-info">
      <p-progressSpinner *ngIf="!hideSpinnerOnly"></p-progressSpinner>
    </div>
  </div>

  <iron-remote-desktop #ironRemoteDesktopElement targetplatform="web" verbose="true" scale="fit" flexcenter="true" [module]="backendRef"></iron-remote-desktop>

</div>
