<div #sessionTelnetContainer id="web-telnet-terminal-app">

  @if (currentStatus.isDisabled) {
  <div class="session-form">
    <web-client-form [webSessionId]="webSessionId" [inputFormData]="formData" [error]="clientError"
      [isFormExists]="true">
    </web-client-form>
  </div>
  }

  <session-toolbar [sessionContainerParent]="sessionContainerElement" [rightButtons]="rightToolbarButtons">
  </session-toolbar>

  @if (loading) {
  <div class="loading-info-container">
    <div class="loading-info">
      @if (!hideSpinnerOnly) {
      <p-progressSpinner></p-progressSpinner>
      }
    </div>
  </div>
  }

  <web-telnet-gui [class.hide-from-view]="loading" #webTelnetGuiTerminal></web-telnet-gui>
</div>
