<div [formGroup]="parentForm">
  <label for="colorFormat">Color Format</label>
  <div class="gateway-form-input">
    <p-select id="colorFormat"
                class="full-width-dropdown"
                appendTo="body"
                formControlName="colorFormat"
                [options]="colorFormatOptions"
                pTooltip="{{ getSelectedTooltip() }}">
        <ng-template let-item pTemplate="item">
            <div pTooltip="{{ item.tooltipText }}" tooltipPosition="right">
                {{ item.label }}
            </div>
        </ng-template>
    </p-select>
  </div>
</div>
