[package]
name = "proxy-http"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2024"
description = "Client and acceptor for HTTP(S) proxying / tunneling"
publish = false

[lints]
workspace = true

[dependencies]
proxy-types = { path = "../proxy-types" }
tokio = { version = "1.45", features = ["io-util"] }
pin-project-lite = "0.2"
bytes = "1.11"

[dev-dependencies]
proptest = "1.7"
proxy-generators = { path = "../proxy-generators" }
