<div id="web-ssh-terminal-app">
  @if (loading) {
    <div class="loading-info-container">
      <div class="loading-info">
        @if (!hideSpinnerOnly) {
          <p-progressSpinner></p-progressSpinner>
        }
      </div>
    </div>
  }

  <web-ssh-gui [class.hide-from-view]="loading" #webSSHGuiTerminal></web-ssh-gui>

  @if (!loading && !currentStatus.isDisabled) {
    <div class="toolbar-overlay-anchor">
      <floating-session-toolbar
        [features]="{ sessionInfo: true }"
        [sessionInfo]="sessionInfo"
        (sessionClose)="startTerminationProcess()">
      </floating-session-toolbar>
    </div>
  }
</div>
