<div #sessionSshContainer id="web-ssh-terminal-app">
  <div *ngIf="currentStatus.isDisabled" class="session-form">
    <web-client-form
      [webSessionId]="webSessionId"
      [inputFormData]="formData"
      [error]="clientError"
      [isFormExists]="true"></web-client-form>
  </div>

  <session-toolbar
    [sessionContainerParent]="sessionContainerElement"
    [rightButtons]="rightToolbarButtons">
  </session-toolbar>

  <div class="loading-info-container" *ngIf="loading">
    <div class="loading-info">
      <p-progressSpinner *ngIf="!hideSpinnerOnly"></p-progressSpinner>
    </div>
  </div>

  <web-ssh-gui [class.hide-from-view]="loading" #webSSHGuiTerminal></web-ssh-gui>
</div>
