Source: devolutions-gateway
Section: non-free/net
Priority: optional
Maintainer: {{ packager }} <{{ email }}>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: {{ website }}

Package: devolutions-gateway
Architecture: {{ arch }}
Depends: {{ deps }}
Description: {{ description }}
 {{ website }}
