Source: devolutions-gateway
Section: non-free/net
Priority: optional
Maintainer: Benoît Cortier <bcortier@devolutions.net>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 3.9.4
Homepage: https://devolutions.net

Package: devolutions-gateway
Architecture: {{ arch }}
Depends: libc6 (>= 2.31)
Description: Blazing fast relay server with desired levels of traffic inspection
