#!/usr/bin/make -f
%:
	dh $@
override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_usrlocal:
	install -D -m 0755 {{ dgateway_executable }} $$(pwd)/debian/devolutions-gateway/usr/bin/devolutions-gateway
override_dh_install:
	dh_install
	mkdir -p $$(pwd)/debian/devolutions-gateway/usr/share/devolutions-gateway/webapp
	cp -r {{ dgateway_webclient }} $$(pwd)/debian/devolutions-gateway/usr/share/devolutions-gateway/webapp
	cp -r {{ root_path }}/webapp/player $$(pwd)/debian/devolutions-gateway/usr/share/devolutions-gateway/webapp
	cp {{ dgateway_libxmf }} $$(pwd)/debian/devolutions-gateway/usr/share/devolutions-gateway/libxmf.so
override_dh_shlibdeps:
	{{ dh_shlibdeps }}
