#!/usr/bin/make -f

ifeq ($(DEB_HOST_ARCH),amd64)
ARCH = x86_64
else ifeq ($(DEB_HOST_ARCH),arm64)
ARCH = aarch64
else
$(error Unsupported architecture: $(DEB_HOST_ARCH))
endif

WEBAPP_DIR := $$(pwd)/debian/devolutions-gateway/usr/share/devolutions-gateway/webapp
LIBXMF_DIR := $$(pwd)/debian/devolutions-gateway/usr/lib/$(ARCH)-linux-gnu/devolutions-gateway

%:
	dh $@
override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_usrlocal:
	install -D -m 0755 {{ dgateway_executable }} $$(pwd)/debian/devolutions-gateway/usr/bin/devolutions-gateway
override_dh_install:
	dh_install
	mkdir -p $(WEBAPP_DIR)
	cp -r {{ dgateway_webclient }} $(WEBAPP_DIR)
	cp -r {{ root_path }}/webapp/player $(WEBAPP_DIR)
	mkdir -p $(LIBXMF_DIR)
	cp {{ dgateway_libxmf }} $(LIBXMF_DIR)/libxmf.so
override_dh_shlibdeps:
	{{ dh_shlibdeps }}
