target/
.DS_Store
.idea/
# we don't want Cargo.lock for jet-proto (not a binary), also TODO: maybe we should use a workspace?
jet-proto/Cargo.lock

clients/Devolutions.Gateway.Clients/.vs/

clients/Devolutions.Gateway.Clients/bin/

clients/Devolutions.Gateway.Clients/obj/

*.DotSettings
