*.rs text eol=lf
*.toml text eol=lf
*.cs text eol=lf
*.js text eol=lf
*.ps1 text eol=lf
*.sln text eol=crlf
*.md text eol=lf
*.mustache text eol=lf
*.yaml text eol=lf

devolutions-gateway/openapi/doc/index.adoc linguist-generated merge=binary
devolutions-gateway/openapi/dotnet-client/src/** linguist-generated merge=binary
devolutions-gateway/openapi/dotnet-client/docs/** linguist-generated merge=binary
devolutions-gateway/openapi/dotnet-subscriber/src/** linguist-generated merge=binary
devolutions-gateway/openapi/ts-angular-client/api/** linguist-generated merge=binary
devolutions-gateway/openapi/ts-angular-client/model/** linguist-generated merge=binary
