[package]
name = "devolutions-jet"
version = "0.1.0"
edition = "2018"
readme = "README.md"
license = "MIT/Apache-2.0"
authors = ["François Dubois <fdubois@devolutions.net>",
           "Marc-André Moreau <mamoreau@devolutions.net>",
           "Vlad Aleksashyn <vlad.al.dp@gmail.com"]

[dependencies]
log = "0.4.6"
clap = "2.32"
url = "1.7.1"
lazy_static = "1.2.0"
futures = "0.1"
tokio = "0.1.11"
tokio-tcp = "0.1.2"
tokio-io = "0.1"
tokio-tls = "0.2.0"
native-tls = "0.2"
env_logger = "0.5.13"
byteorder = "1.2.7"
uuid = {version = "0.7.1", features = ["v4"]}
pcap-file = "0.10.0"
packet = { git = "https://github.com/fdubois1/rust-packet.git"}

jet-proto = { path = "./jet-proto"}
rdp-proto = { path = "./rdp-proto"}
