[package]
name = "devolutions-gateway"
version = "0.14.0"
edition = "2018"
readme = "README.md"
license = "MIT/Apache-2.0"
authors = ["François Dubois <fdubois@devolutions.net>",
           "Marc-André Moreau <mamoreau@devolutions.net>",
           "Vlad Aleksashyn <vlad.al.dp@gmail.com"]

[dependencies]
jet-proto = { path = "./jet-proto" }
picky = { version = "6.0.0", default-features = false, features = ["jose"] }
ceviche = "0.4"
ctrlc = "3.1"
clap = "2.32"
cfg-if = "0.1"
url = "1.7.1"
url_serde = "0.2.0"
hostname = "^0.3"
lazy_static = "1.2.0"
tokio = { version = "0.2", features = ["signal", "net"] }
tokio-util = { version = "0.4", features = ["codec"] }
futures = "0.3"
tokio-rustls = "0.20"
rustls = { git = "https://github.com/vaffeine/rustls.git", branch = "sni_jet_workaround", features = ["dangerous_configuration"] }
webpki = "0.21.0"
native-tls = "0.2"
byteorder = "1.2.7"
bytes = "0.4"
uuid = { version = "0.7.1", features = ["v4", "serde"] }
pcap-file = "0.10.0"
packet = { git = "https://github.com/fdubois1/rust-packet.git" }
saphir = { version = "1.0.0", default-features = false, features = ["https", "request_handler"] }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.5.3"
slog = { version = "2.5", features = ["max_level_trace", "release_max_level_debug"] }
slog-term = "2.4"
slog-async = "2.3"
slog-scope = "4.3"
slog-envlogger = "2.2"
slog-scope-futures = { git = "https://github.com/Devolutions/slog-scope-futures.git" }
chrono = { version = "0.4", features = ["serde"] }
failure = "0.1"
x509-parser = "0.6.0"
sspi = "0.3.0"
ironrdp = { version = "0.4.1", git = "https://github.com/Devolutions/IronRDP", rev = "ca53209c84c55b41" }
hyper = "0.12.32"
tungstenite = "0.10"
sha1 = "0.6.0"
base64 = "0.9.1"
slog-stdlog = "4.0"
ring = "0.16.0"
spsc-bip-buffer = { git = "https://github.com/Devolutions/spsc-bip-buffer.git", branch = "master" }
indexmap = "1.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["winbase", "winuser", "winsvc", "libloaderapi", "errhandlingapi", "winerror"] }

[patch.crates-io]
rustls = { git = "https://github.com/vaffeine/rustls.git", branch = "sni_jet_workaround", features = ["dangerous_configuration"] }

[target.'cfg(windows)'.build-dependencies]
embed-resource =  "1.3"

[dev-dependencies]
tempfile = "3.0"
reqwest = "0.9.20"
exitcode = "1.1"
