<div #sessionsContainer class="tabview-container" [ngClass]="{'session-background': addBackgroundClass()}">
  <!-- TODO: check tab styling-->
  <p-tabs #tabView class="hidden-tab-headers" [(value)]="activeIndex">
    @for (tab of webSessionTabs; track tab.id) {
    <p-tabpanel>
      <web-client-dynamic-tab [webSessionTab]="tab" [sessionsContainerElement]="sessionsContainerRef"
        (componentRefSizeChange)="measureSize()">
      </web-client-dynamic-tab>
    </p-tabpanel>
    }
  </p-tabs>
</div>
