:host {
  --box-background-color: white;
  --box-text-color: rgb(var(--base-color-rgb));
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.h-fill {
  height: calc(100% - 60px);
}

.w-fill {
  width: 100%;
}

.no-scroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none;
}


.progress-bar {
  width: 100%;
  height: 5px;
  background-color: var(--border-secondary-color);
  border-radius: 5px;
  margin: 5px 0;
}

.spinner {
  display: inline-block;
  animation: spin 2s linear infinite;
  width: 24px;
  height: 24px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.not-found-image {
  width: 150px;
  height: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 26px 8px 26px;
}

.margin-10px {
  margin: 10px;
}

.margin-x-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.h-100 {
  height: 100%;
}

.border-bottom {
  border-bottom: 1px solid var(--border-secondary-color);
}

.scan-title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
}

.net-scan-main-box {
  display: block;
  background-color: var(--box-background-color);
  width: 291px;
  height: 418px;
  border-radius: 8px;
  margin: 3vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.right-small-margin {
  margin-right: 5px;
}

.entry {
  width: calc(100% - 20px); // 100% - margin left and right
  height: 51px;
  padding: 8px 16px 8px 16px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  border-bottom: 1px solid var(--Borders-Colors-border-tertiary-color, rgba(0, 0, 0, 0.07))
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.center-one {
  display: flex;
  justify-content: start;
  align-items: center;
}

.typography-service-name {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  max-width: 150px;
  overflow: hidden;
}

.typography-service-sub-name {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
}

.typography-not-found-title {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
  color: var(--Text-Colors-text-primary-color, rgba(0, 0, 0, 0.8));
}

.typography-not-found-body {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: center;
  color: var(--Text-Colors-text-secondary-color, rgba(0, 0, 0, 0.6));
}

.no-wrap {
  white-space: nowrap;
  overflow: visible;
}

.margin-top-12px {
  margin-top: 12px;
}


.w-193px {
  width: 193px;
}
