<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="DG_AccessUri" Width="370" Height="270" Title="!(loc.AccessUriDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.AccessUriDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.AccessUriDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Type="ComboBox" Property="P.ACCESSURI_SCHEME" Id="cbAccessUriScheme" Width="50" Height="16" X="19" Y="71">
                    <ComboBox Property="P.ACCESSURI_SCHEME">
                        <ListItem Text="https" Value="https" />
                        <ListItem Text="http" Value="http" />
                    </ComboBox>
                </Control>
                <Control Type="Edit" Id="txtAccessUriHost" Property="P.ACCESSURI_HOST" Width="212" Height="15" X="75" Y="71" />
                <Control Type="Edit" Id="txtAccessUriPort" Property="P.ACCESSURI_PORT" Width="50" Height="15" X="292" Y="71" />
                <Control Type="GroupBox" Id="gbAccessUri" Width="348" Height="48" X="8" Y="52">
                    <Text>!(loc.AccessUriDlgAccessUriLabel)</Text>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>