<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="DG_Certificate" Width="370" Height="270" Title="!(loc.CertificateDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CertificateDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CertificateDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Type="GroupBox" Id="gbCertificates" Width="348" Height="125" X="8" Y="52">
                    <Text>!(loc.CertificateDlgCertConfigLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblCertificateFile" Width="326" Height="11" X="15" Y="71">
                    <Text>!(loc.CertificateDlgCertFileLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblCertificatePassword" Width="326" Height="11" X="15" Y="110">
                    <Text>!(loc.CertificateDlgCertPasswordLabel)</Text>
                    <Condition Action="show"><![CDATA[P.CERT_NEED_PASS = "0"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.CERT_NEED_PASS = "1"]]></Condition>
                </Control>
                <Control Type="Text" Id="lblPrivateKeyFile" Width="326" Height="11" X="15" Y="110">
                    <Text>!(loc.CertificateDlgCertKeyFileLabel)</Text>
                    <Condition Action="show"><![CDATA[P.CERT_NEED_PASS = "1"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.CERT_NEED_PASS = "0"]]></Condition>
                </Control>
                <Control Type="Edit" Id="txtCertificateFile" Property="P.CERT_FILE" Disabled="yes" Width="242" Height="15" X="19" Y="86" />
                <Control Type="Edit" Id="txtCertificatePassword" Property="P.CERT_PASS" Password="yes" Width="242" Height="15" X="19" Y="128">
                    <Condition Action="show"><![CDATA[P.CERT_NEED_PASS = "0"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.CERT_NEED_PASS = "1"]]></Condition>
                </Control>
                <Control Type="Edit" Id="txtPrivateKeyFile" Property="P.CERT_PK_FILE"  Disabled="yes" Width="242" Height="15" X="19" Y="128" />
                <Control Type="PushButton" Id="btnCertificateFile" Text="..." Width="30" Height="17" X="262" Y="85">
                    <Publish Event="DoAction" Value="CA.BrowseForCertificate">1</Publish>
                    <Publish Property="P.CERT_FILE" Value="[P.CERT_FILE]">1</Publish>
                    <Publish Property="P.CERT_NEED_PASS" Value="[P.CERT_NEED_PASS]">1</Publish>
                </Control>
                <Control Type="PushButton" Id="btnPrivateKeyFile" Text="..." Width="30" Height="17" X="262" Y="127">
                    <Publish Event="DoAction" Value="CA.BrowseForPrivateKey">1</Publish>
                    <Publish Property="P.CERT_PK_FILE" Value="[P.CERT_PK_FILE]">1</Publish>
                    <Condition Action="show"><![CDATA[P.CERT_NEED_PASS = "1"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.CERT_NEED_PASS = "0"]]></Condition>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>