<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="DG_Listeners" Width="370" Height="270" Title="!(loc.ListenersDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ListenersDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ListenersDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Type="Edit" Id="txtHttpUriHost" Property="P.HTTPURI_HOST" Disabled="yes" Width="212" Height="15" X="75" Y="86" />
                <Control Type="Edit" Id="txtHttpUriPort" Property="P.HTTPURI_PORT" Width="50" Height="15" X="292" Y="86" />
                <Control Type="ComboBox" Property="P.HTTPURI_SCHEME" Id="cbHttpUriScheme" Width="50" Height="16" X="19" Y="86">
                    <ComboBox Property="P.HTTPURI_SCHEME">
                        <ListItem Text="https" Value="https" />
                        <ListItem Text="http" Value="http" />
                    </ComboBox>
                    <Condition Action="enable"><![CDATA[P.ACCESSURI_SCHEME = "https"]]></Condition>
                    <Condition Action="disable"><![CDATA[P.ACCESSURI_SCHEME <> "https"]]></Condition>
                </Control>
                <Control Type="Edit" Id="txtTcpUriHost" Property="P.TCPURI_HOST" Disabled="yes" Width="212" Height="15" X="75" Y="127" />
                <Control Type="Edit" Id="txtTcpUriPort" Property="P.TCPURI_PORT" Width="50" Height="15" X="292" Y="127" />
                <Control Type="ComboBox" Property="P.TCPURI_SCHEME" Id="cbTcpUriScheme" Disabled="yes" Width="50" Height="16" X="19" Y="127">
                    <ComboBox Property="P.TCPURI_SCHEME">
                        <ListItem Text="tcp" Value="tcp" />
                    </ComboBox>
                </Control>
                <Control Type="GroupBox" Id="gbListeners" Width="348" Height="103" X="8" Y="52">
                    <Text>!(loc.ListenersDlgListenersLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblHttpListener" Width="324" Height="11" X="19" Y="68">
                    <Text>!(loc.ListenersDlgHTTPLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblTCPListener" Width="324" Height="11" X="19" Y="109">
                    <Text>!(loc.ListenersDlgTCPLabel)</Text>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>