<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="DG_PublicKey" Width="370" Height="270" Title="!(loc.PublicKeyDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.PublicKeyDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.PublicKeyDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Type="GroupBox" Id="gbPublicKey" Width="348" Height="169" X="8" Y="52">
                    <Text>!(loc.PublicKeyDlgInfoLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblPublicKeyFile" Width="326" Height="11" X="15" Y="71">
                    <Text>!(loc.PublicKeyDlgFromFileLabel)</Text>
                </Control>
                <Control Type="Edit" Id="txtPublicKeyFile" Property="P.PUBLIC_KEY_FILE" Width="242" Height="15" X="19" Y="86" />
                <Control Type="PushButton" Id="btnCertificateFile" Text="..." Width="30" Height="17" X="262" Y="85">
                    <Publish Event="DoAction" Value="CA.BrowseForPublicKey">1</Publish>
                    <Publish Property="P.PUBLIC_KEY_FILE" Value="[P.PUBLIC_KEY_FILE]">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>