<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="DG_Summary" Width="370" Height="270" Title="!(loc.SummaryDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SummaryDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SummaryDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Type="Text" Id="lblAccessURI" Width="320" Height="11" X="15" Y="67">
                    <Text>!(loc.SummaryDlgAccessUriLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblHTTPListener" Width="320" Height="11" X="15" Y="83">
                    <Text>!(loc.SummaryDlgHTTPLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblTCPListener" Width="320" Height="11" X="15" Y="99">
                    <Text>!(loc.SummaryDlgTCPLabel)</Text>
                </Control>
                <Control Type="GroupBox" Id="gbListeners" Width="348" Height="64" X="8" Y="52">
                    <Text>!(loc.SummaryDlgListenersLabel)</Text>
                </Control>
                <Control Type="GroupBox" Id="gbPublicKey" Width="348" Height="32" X="8" Y="124">
                    <Text>!(loc.SummaryDlgKeyPairLabel)</Text>
                </Control>
                <Control Type="Text" Id="lblPublicKey" Width="320" Height="11" X="15" Y="139">
                    <Text>!(loc.SummaryDlgPublicKeyLabel)</Text>
                </Control>
                <Control Type="GroupBox" Id="gbCertificates" Width="348" Height="52" X="8" Y="166">
                    <Text>!(loc.SummaryDlgCertificateLabel)</Text>
                    <Condition Action="show"><![CDATA[P.HTTPURI_SCHEME = "https"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.HTTPURI_SCHEME <> "https"]]></Condition>
                </Control>
                <Control Type="Text" Id="lblCertificate" Width="320" Height="11" X="15" Y="181">
                    <Text>!(loc.SummaryDlgCertificateFileLabel)</Text>
                    <Condition Action="show"><![CDATA[P.HTTPURI_SCHEME = "https"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.HTTPURI_SCHEME <> "https"]]></Condition>
                </Control>
                <Control Type="Text" Id="lblCertPass" Width="320" Height="11" X="15" Y="197">
                    <Text>!(loc.SummaryDlgCertificatePasswordLabel)</Text>
                    <Condition Action="show"><![CDATA[P.HTTPURI_SCHEME = "https" AND P.CERT_NEED_PASS = "0"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.HTTPURI_SCHEME <> "https" OR P.CERT_NEED_PASS = "1"]]></Condition>
                </Control>
                <Control Type="Text" Id="lblCertPK" Width="320" Height="11" X="15" Y="197">
                    <Text>!(loc.SummaryDlgCertificateKeyLabel)</Text>
                    <Condition Action="show"><![CDATA[P.HTTPURI_SCHEME = "https" AND P.CERT_NEED_PASS = "1"]]></Condition>
                    <Condition Action="hide"><![CDATA[P.HTTPURI_SCHEME <> "https" OR P.CERT_NEED_PASS = "0"]]></Condition>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>