<div
  #activeDirectoryContainer
  class="active-directory-session-container"
>
  @if (renderActiveDirectory) {
    <web-active-directory
      [sessionContainerParent]="activeDirectoryContainerRef"
      [renderMain]="renderActiveDirectory"
      [organizationalUnit]="formData?.organizationalUnit"
      (mainReady)="onMainReady($event)"
      (onTerminate)="startTerminationProcess()"
    ></web-active-directory>
  }
</div>

<p-confirmDialog
  key="adc-confirm-dialog"
  appendTo="body"
  styleClass="ad-dvls-confirm-dialog"
  maskStyleClass="ad-dvls-confirm-mask"
  [baseZIndex]="10000"
  acceptButtonStyleClass="p-button-sm"
  rejectButtonStyleClass="p-button-sm p-button-text"
></p-confirmDialog>

<p-toast
  key="adc-toast"
  position="top-right"
  styleClass="ad-dvl-toast"
  [baseZIndex]="10050"
  [preventOpenDuplicates]="true"
></p-toast>
