:host {
  display: block;
  height: 25px;
  margin-bottom: 4px;
}

:host-context(.menu-group-list-item.hasHeader) {
  .menu-list-label .menu-label {
    font-weight: 400;
  }
}

:host-context(.app-menu-container.layout-menu-slim) {
  .menu-list-label {
    display: none;
  }
}
