<div class="menu-group-list-item" [class.accordion]="accordion" [class.hasHeader]="hasHeader"
  [class.isSlim]="isMenuSlim" [class.closed]="isClosed">

  @if (hasHeader) {
  <div class="menu-group-list-header" [class.menu-group-list-header--slim]="isMenuSlim"
    (click)="onToggleMenuGroupList($event)" (mouseover)="onMenuGroupMouseOver()" (mouseleave)="onMenuGroupMouseLeave()">

    @if (accordion) {
    <i class="dvl-icon" [class.dvl-icon-arrow-up]="isClosed" [class.dvl-icon-arrow-down]="!isClosed">
    </i>

    @if (isMenuSlim) {
    <i class="dvl-icon" [ngClass]="accordionIcon" [pTooltip]="title">
    </i>
    }
    }

    @if (title && !isMenuSlim) {
    <span>{{ title }}</span>
    }
  </div>
  }

  @if (!isClosed) {
  <div class="menu-group-list-body">
    <ng-content></ng-content>
  </div>
  }

</div>
