<div [formGroup]="parentForm">
  <label for="password">{{label}}</label>
  <div class="gateway-form-input password-container">
    <input pPassword
           id="password"
           [type]=" showPasswordToggle ? 'text' : 'password' "
           autocomplete="current-password"
           placeholder="Enter {{label}}"
           formControlName="{{formKey}}"
           showPassword="showPassword"
           required/>
    <span>
      <i (click)="toggleShowPassword()" class="dvl-icon dvl-icon-view"></i>
    </span>
  </div>
  <div class="form-helper-text"
       *ngIf="parentForm.get(formKey).hasError('required') && parentForm.get(formKey).touched">
       {{label}} is required
  </div>
</div>
