<p-toast key="message" position="top-right"></p-toast>
<p-toast #confirmMessageToast key="confirm-message" position="top-right">
  <ng-template let-message pTemplate="message">
    <div class="confirm-message-content">
      <div class="confirm-message-title">
        <i *ngIf="message.icon" class="confirm-message-infos-icon dvl-icon {{message.icon}}"></i>
        <h4 *ngIf="message.summary">{{message.summary}}</h4>

      </div>
      <div class="confirm-message-infos">
        <span class="confirm-message-infos-detail" [innerHTML]="message.detail"></span>
        <hub-form-checkbox-field class="pl-0" *ngIf="message.showCheckbox" [label]="message.optionCheckboxLabel" name="optionCheck" [(value)]="checkBoxValue"></hub-form-checkbox-field>
        <div class="confirm-message-actions">
          <sd-cancel-button (cancel)="onRejectConfirmMessage(message)" [customLabel]="message.rejectLabel ? message.rejectLabel : 'lblClose'"></sd-cancel-button>
          <button *ngIf="message.accept" type="button" pButton (click)="onAcceptConfirmMessage(message)" [label]="(message.acceptLabel ? message.acceptLabel : 'butOk')"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
