.confirm-message-content {
  display: flex;
  width: 100%;
  flex-direction: column;

  .confirm-message-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    h4 {
      margin: 0;
    }

    .confirm-message-infos-icon {
      font-size: 2rem;
      margin-right: 10px;
    }
  }

  .confirm-message-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;

    .confirm-message-infos-detail {
      margin: 0 0 20px 0;
      white-space: pre-wrap;
    }

    .confirm-message-actions {
      display: flex;
      width: 100%;
      justify-content: right;

      ::ng-deep .cancel-button .p-button {
          background-color: transparent !important;
          color: var(--message-font-color) !important;
      }
    }
  }
}
