[package]
name = "jmux-proxy"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2024"
description = "JMUX proxy server implementation"
publish = false

[lints]
workspace = true

[dependencies]

# jmux
jmux-proto = { path = "../jmux-proto" }

# async
tokio = { version = "1.45", features = ["net", "rt", "io-util", "macros", "time"] }
tokio-util = { version = "0.7", features = ["codec"] }
futures-util = { version = "0.3", features = ["sink"] }

# error handling
anyhow = "1.0"

# logging
tracing = "0.1"

# codec implementation
bytes = "1.10"
bitvec = "1.0"

[dev-dependencies]
# Test infrastructure for socket manipulation.
socket2 = "0.5"
# Enable extra tokio features.
tokio = { version = "1.45", features = ["rt-multi-thread"] }
