[package]
name = "mock-net"
version = "0.0.0"
edition = "2021"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
publish = false

[dependencies]
tokio = { version = "1.39", features = ["io-util", "sync"] }
loom = { version = "0.7", features = ["futures", "checkpoint"] }
lazy_static = "1.5"

[dev-dependencies]
tokio = { version = "1.39", features = ["rt"] }
