:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F9F9F9 url('../../../../../assets/images/session_background.png');
}

:host ::ng-deep .separator {
  border: solid 1px var(--border-secondary-color);
  width: 0;
  height: 14px;
  margin: 0 8px;
}

.session-toolbar {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-secondary-color);
}

.session-toolbar-middle-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.session-toolbar-right-group, .session-toolbar-left-group  {
  display: flex;
  align-items: center;
}

.session-toolbar ::ng-deep .p-button {
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

.session-toolbar ::ng-deep .p-button:hover {
  background: #0068C31A;
}

.session-toolbar ::ng-deep .p-button .p-button-label {
  color: #000000CC;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.session-toolbar ::ng-deep .p-button .p-button-icon-left {
  display: flex;
  align-items: center;
  color: #0068C3;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.session-toolbar-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.session-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.session-toolbar ::ng-deep .p-slider {
  width: 5vw;
  margin: 10px;
}

::ng-deep .p-button-inactive .p-button-icon {
  color: gray !important;
}
