<div
  #sessionToolbar
  id="sessionToolbar"
  *ngIf="!isFullScreenMode || (isFullScreenMode && showToolbarDiv)"
  [ngClass]="isFullScreenMode ? 'session-toolbar-layer' : ''"
  class="session-toolbar"
>
  <div class="session-toolbar-left-group" *ngIf="leftButtons.length > 0">
    <ng-container
      *ngFor="let button of leftButtons; let i = index; let last = last"
    >
      <p-button
        (click)="button.action()"
        [label]="button.label"
        [icon]="button.icon"
        iconPos="left"
      ></p-button>

      <div class="separator" *ngIf="!last"></div>
    </ng-container>
  </div>

  <div class="session-toolbar-middle-group">
    <ng-container
      *ngFor="let button of middleButtons; let i = index; let last = last"
    >
      <p-button
        (click)="button.action()"
        [label]="button.label"
        [icon]="button.icon"
        iconPos="left"
      ></p-button>

      <div class="separator" *ngIf="!last"></div>
    </ng-container>

    <div class="separator" *ngIf="middleToggleButtons.length > 0"></div>

    <ng-container
      *ngFor="let button of middleToggleButtons; let i = index; let last = last"
    >
      <p-button
        (click)="button.action()"
        [label]="button.label"
        [icon]="button.icon"
        iconPos="left"
        [class]="button.isActive() ? '' : 'p-button-inactive'"
      >
      </p-button>

      <div class="separator" *ngIf="!last"></div>
    </ng-container>
  </div>

  <!-- 
formControlName="enableCursor"
        inputId="enableCursor"  
-->

  <div class="session-toolbar-middle-group" *ngIf="checkboxes.length > 0">
    <ng-container *ngFor="let checkbox of checkboxes; let last = last">
      <p-checkbox
        [inputId]="checkbox.inputId"
        (onChange)="checkbox.onChange($event.checked)"
        [(ngModel)]="checkbox.value"
        [disabled]="!checkbox.enabled()"
        [binary]="true"
      ></p-checkbox>
      <label [for]="checkbox.inputId">{{ checkbox.label }}</label>

      <div class="separator" *ngIf="!last"></div>
    </ng-container>
  </div>

  <div class="session-toolbar-middle-group" *ngIf="sliders.length > 0">
    <ng-container *ngFor="let slider of sliders; let last = last">
      <label>{{ slider.label }}</label>
      <p-slider
        [(ngModel)]="slider.value"
        (onSlideEnd)="slider.onChange($event.value)"
        [min]="slider.min"
        [max]="slider.max"
        [step]="slider.step"
      ></p-slider>
      <span>{{ slider.value }}</span>

      <div class="separator" *ngIf="!last"></div>
    </ng-container>
  </div>

  <div
    class="session-toolbar-right-group"
    *ngIf="clipboardActionButtons.length > 0"
  >
    <ng-container
      *ngFor="
        let button of clipboardActionButtons;
        let i = index;
        let last = last
      "
    >
      <p-button
        (click)="button.action()"
        [label]="button.label"
        [pTooltip]="button.tooltip"
        [icon]="button.icon"
        [disabled]="!button.enabled()"
        iconPos="left"
      ></p-button>

      <div class="separator" *ngIf="!last"></div>
    </ng-container>
  </div>

  <div class="session-toolbar-right-group" *ngIf="rightButtons.length > 0">
    <ng-container
      *ngFor="let button of rightButtons; let i = index; let last = last"
    >
      <p-button
        (click)="button.action()"
        [label]="button.label"
        [icon]="button.icon"
        iconPos="left"
      ></p-button>

      <div class="separator" *ngIf="rightButtons.length > 1 && !last"></div>
    </ng-container>
  </div>
</div>
