@import '../../../../../../../assets/css/style/mixins';
@import "../../../../../../../assets/css/style/variables";
@import "../../../../../../../assets/css/theme/theme-mode-variables";

::ng-deep p-fileUpload .p-fileupload-content .p-progressbar {
  display: none !important;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px 10px 5px;
}

.form-helper-text {
  line-height: 11px;
  word-wrap: break-word;
  color: var(--status-error-text-color);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  padding-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.highlight {
  background-color: #f0f0f0;
}

.gateway-form-group {
  padding: 0 0 18px 0;
}

.flex-row{
  display: flex;
  align-items: center;
}

.justify-end {
  justify-content: end;
}

.private-key-textarea{
  margin-top: 5px;
  margin-bottom: 5px;
  resize: none;
  font-family: monospace;
  font-size: xx-small;
  line-height: 15px;
}

.card {
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card p-fileupload {
  width: 100%;
}

::ng-deep .card p-fileupload .p-fileupload-buttonbar {
  display: flex;
  justify-content: end;
  flex-direction: row !important;
}

::ng-deep .card p-fileupload div  {
  display: flex;
  flex-direction: column-reverse;
}

.file-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .card p-fileupload .p-button {
  background-color: white;
  border : 1px solid var(--default-btn-bg-color);
  color: var(--default-btn-bg-color);
}

::ng-deep .card p-fileupload .p-button:hover {
  background-color: var(--default-btn-bg-color);
  color: white;
}