@use '../../../../../assets/css/style/mixins' as *;
@use "../../../../../assets/css/style/variables" as *;
@use "../../../../../assets/css/theme/theme-mode-variables" as *;

:host {
  --box-background-color: white;
  --box-text-color: rgb(var(--base-color-rgb));
}

:host ::ng-deep .p-dropdown {
  width: 100%;
  min-width: 100% !important;
}

:host ::ng-deep .p-message-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

:host ::ng-deep .p-message-icon {
  flex-shrink: 0; /* Prevent icon from shrinking */
  margin-right: 10px;
}

/* Control the summary's growth and ensure it doesn't push the detail to break */
:host ::ng-deep .p-message-summary {
  flex-grow: 1; /* Allow summary to fill available space next to the icon */
  flex-basis: 0; /* Ensure it doesn't base its size on the content, allowing it to grow */
  min-width: 0; /* Prevent it from maintaining an intrinsic minimum width */
  white-space: normal;
  overflow-wrap: break-word;
}

/* Make detail take the full width of the container, ensuring it wraps */
:host ::ng-deep .p-message-detail {
  width: 100%; /* Force it to a new line */
  order: 3; /* Ensure it's placed below all other flex items */
}

:host ::ng-deep .p-message .p-message-detail {
  margin-top: 10px;
  flex-basis: 100%;
}

:host ::ng-deep .p-message.p-message-error {
  margin-bottom: 10px;

  timescircleicon {
    display: inline !important;
  }
  border: none;
  text-align: left;

  &::before {
    background: rgba(255, 26, 26, 0.1) none;
    width: 0;
  }
}

:host ::ng-deep .p-button {
  margin-right: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-message {
  margin-bottom: 10px;
}

.box {
  background-color: var(--box-background-color);
  width: 447px;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 3vw;
  max-height: calc(100vh - 6vw);
  overflow-y: auto;
  
  // Force border-radius to work with flex
  &.flex {
    border-radius: 8px;
  }
}

.centered-box {
  margin: auto;
}

.box-header {
  padding-bottom: 24px;
}

.box-title {
  color: var(--box-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
}

.box-content {
  max-height: 100%;
}

.gateway-form-group {
  padding: 0 0 18px 0;
}

.gateway-form-input {
  display: flex;
  align-items: center;
}

.gateway-form-input .p-fluid {
  width: 100%;
}

form .gateway-form-group:last-child {
  text-align: right;
}

rdp-form, ssh-form, vnc-form, ard-form {
  padding: 0;
}

.col-pad-right-lg {
  padding-right: 15px !important;
}
.col-pad-right-md {
  padding-right: 10px !important;
}
.col-pad-right-sm {
  padding-right: 5px !important;
}

.box-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: $fontFamily;
  color: $default-text-color !important;
  line-height: 11px;
}

.form-helper-text {
  line-height: 11px;
  word-wrap: break-word;
  color: var(--status-error-text-color);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  padding-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}
