<div class="container">
  <form
    name="connection-form"
    [formGroup]="connectSessionForm"
    autocomplete="on"
  >
    <div>
      <div class="box centered-box flex flex-column">
        <span
          class="box-header flex justify-content-between align-items-center"
        >
          <span class="box-title">Remote Session Information</span>
        </span>
        <div class="form-message">
          <p-messages
            *ngIf="messages.length > 0"
            [escape]="false"
            [closable]="false"
            [value]="messages"
          ></p-messages>
        </div>
        <div class="box-content grid nomargin nopad">
          <div class="col-4 gateway-form-group">
            <label for="protocol">Protocol</label>
            <div class="gateway-form-input">
              <p-select
                id="protocol"
                appendTo="body"
                formControlName="protocol"
                [options]="protocolOptions"
                pTooltip="{{ protocolSelectedTooltip }}"
                required
              >
                <ng-template let-item pTemplate="item">
                  <div
                    pTooltip="{{ item.tooltipText }}"
                    tooltipPosition="right"
                  >
                    {{ item.label }}
                  </div>
                </ng-template>
              </p-select>
            </div>
          </div>

          <div class="col-8 gateway-form-group">
            <label for="protocol">Hostname</label>
            <div class="gateway-form-input">
              <span class="p-fluid">
                <p-autoComplete
                  formControlName="autoComplete"
                  id="hostname"
                  field="hostname"
                  optionLabel="hostname"
                  placeholder="Enter hostname"
                  [suggestions]="filteredHostnames"
                  [dropdown]="isHostnamesExists()"
                  (completeMethod)="filterHostname($event)"
                  [overlayOptions]="{
                    styleClass: 'dv-autocomplete-panel-open'
                  }"
                  required
                ></p-autoComplete>
              </span>
            </div>
            <div
              class="form-helper-text"
              *ngIf="
                connectSessionForm.get('autoComplete').hasError('required') &&
                connectSessionForm.get('autoComplete').touched
              "
            >
              Hostname is required.
            </div>
          </div>

          <rdp-form
            class="col-12"
            *ngIf="isSelectedProtocolRdp()"
            [form]="connectSessionForm"
            [inputFormData]="inputFormData"
          ></rdp-form>

          <!--// No telnet component required. KAH March 8, 2024 -->

          <ssh-form
            class="col-12"
            *ngIf="isSelectedProtocolSsh()"
            [form]="connectSessionForm"
            [inputFormData]="inputFormData"
          ></ssh-form>

          <vnc-form
            class="col-12"
            *ngIf="isSelectedProtocolVnc()"
            [form]="connectSessionForm"
            [inputFormData]="inputFormData"
          ></vnc-form>

          <ard-form
            class="col-12"
            *ngIf="isSelectedProtocolArd()"
            [form]="connectSessionForm"
            [inputFormData]="inputFormData"
          ></ard-form>

          <div class="col-12 gateway-form-group">
            <p-button
              [disabled]="!canConnect()"
              [type]="'submit'"
              [label]="'Connect Session'"
              (onClick)="onConnectSession()"
            >
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
