:host {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  background: var(--gateway-session-background-color, #f9f9f9) url('../../../../../assets/images/session_background.png');
}
