:host {
  background: #F9F9F9 url('../../../../../assets/images/session_background.png');
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.session-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
}

:host ::ng-deep .p-button-icon-only {
  color: rgba(255, 255, 255, 0.8) !important;

  &.stay-pressed,
  &:hover:not(.p-disabled):not([disabled]) {
    background-color: #00539c !important;
  }
}

.session-toolbar ::ng-deep > p-button:not(:first-child) {
  margin-left: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-info {
  display: grid;
  place-items: center;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
}
