<p-toast key="message" position="top-right"></p-toast>
<p-toast #confirmMessageToast key="confirm-message" position="top-right">
  <ng-template let-message pTemplate="message">
    <div class="confirm-message-content">
      <div class="confirm-message-title">
        @if (message.icon) {
        <i class="confirm-message-infos-icon dvl-icon {{message.icon}}"></i>
        }

        @if (message.summary) {
        <h4>{{ message.summary }}</h4>
        }
      </div>
    </div>
  </ng-template>
</p-toast>
