{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "author": "OpenAPI-Generator Contributors",
  "repository": {
    "type": "git",
    "url": "https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
  },
  "keywords": [
    "openapi-client",
    "openapi-generator"
  ],
  "license": "{{license}}",
  "scripts": {
    "build": "ng-packagr -p ng-package.json"
  },
  "peerDependencies": {
    "@angular/core": "^{{ngMinVersion}}",
    "rxjs": "^{{rxjsMinVersion}}"
  },
  "devDependencies": {
    "@angular/common": "^{{ngMinVersion}}",
    "@angular/compiler": "^{{ngMinVersion}}",
    "@angular/compiler-cli": "^{{ngMinVersion}}",
    "@angular/core": "^{{ngMinVersion}}",
    "@angular/platform-browser": "^{{ngMinVersion}}",
    "ng-packagr": "^{{ngPackagrMinVersion}}",
    "reflect-metadata": "^0.1.3",
    "rxjs": "^{{rxjsMinVersion}}",
    "tsickle": "^{{tsickleMinVersion}}",
    "typescript": "^{{tsMinVersion}}",
    "zone.js": "^{{zonejsMinVersion}}"
  }{{#npmRepository}},
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
