@use "variables" as *;
@use 'mixins' as *;
@use '../../../../../assets/css/theme/theme-mode-variables' as *;

:host {
  --box-background-color: white;
  --box-text-color: rgb(var(--base-color-rgb));
}

.net-scan-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .net-scan-main-box {
    display: block;
    background-color: var(--box-background-color);
    width: 291px;
    height: 418px;
    border-radius: 8px;
    margin: 3vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .net-scan-main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 26px 8px 26px;
      height: 41px;
      border-bottom: 1px solid var(--border-secondary-color);

      .scan-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
        text-align: left;
      }
    }

    .net-scan-list-container {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: calc(100% - 60px);

      .net-scan-list-item {
        display: flex;
        align-items: center;
        color: $default-text-color;

        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
        height: 51px;
        padding: 8px 16px 8px 16px;
        border-bottom: 1px solid var(--Borders-Colors-border-tertiary-color, rgba(0, 0, 0, 0.07));

        i {
          margin-right: 10px;
        }

        .net-scan-list-label {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          overflow: hidden;

          .menu-label {
            @include text-ellipsis();

            width: 100%;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.07px;
          }
        }

        .net-scan-list-sub-label {
          font-size: 12px;
          line-height: 16.34px;
        }

        .net-scan-prefill-form {
          margin-left: auto;
          display: flex;
          align-items: center;
          padding-left: 5px;
        }

        &:hover,
        &.selected {
          background-color: lightgray;
          cursor: pointer;
        }
      }
    }

    .net-scan-no-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 60px);
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;

      .not-found-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
        text-align: left;
        color: var(--Text-Colors-text-primary-color, rgba(0, 0, 0, 0.8));
      }

      .not-found-body {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: center;
        color: var(--Text-Colors-text-secondary-color, rgba(0, 0, 0, 0.6));
        margin-bottom: 10px;
      }
    }
  }
}

.not-found-image {
  width: 150px;
  height: auto;
}

.no-scroll {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.scan-button ::ng-deep .p-button {
  border: 1px solid rgba(0, 104, 195, 1);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  text-align: left;
  background-color: rgba(240, 246, 251, 1);
  color: rgba(0, 104, 195, 1);
}

.scan-button ::ng-deep .p-button:hover {
  background-color: rgba(0, 104, 195, 1);
  color: white;
}

.spinner {
  display: inline-block;
  animation: spin 2s linear infinite;
  width: 24px;
  height: 24px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
