@use 'theme-mode-variables';
@use 'variables';

.p-badge {
  background: theme-mode-variables.$default-btn-bg-color;
  padding: 0 !important;

  height: 10px;
  width: 10px;
  top: 8px;
  right: 8px;
  position: absolute;
  outline: 2px solid var(--layout-container-bg-color);
}

.p-inputgroup{
  .p-badge {
    transform: translate(50%, -50%);
  }
}