@use 'variables';

.p-confirm-popup {
  background-color: var(--overlay-panel-bg-color);
  color: var(--side-panel-text-color);
  border-radius: variables.$borderRadius;
  box-shadow: variables.$defaultBoxShadow;
  border: 0 none;
}

.p-confirm-popup .p-confirm-popup-content {
  padding: 1rem;
}

.p-confirm-popup .p-confirm-popup-footer {
  text-align: right;
  padding: 0.5rem 1rem;
}

.p-confirm-popup .p-confirm-popup-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
}

.p-confirm-popup .p-confirm-popup-footer button:last-child {
  margin: 0;
}

.p-confirm-popup:after {
  border: solid transparent;
  border-bottom-color: var(--overlay-panel-bg-color);
}

.p-confirm-popup:before {
  border: solid transparent ;
  border-bottom-color: var(--overlay-panel-bg-color);
}

.p-confirm-popup.p-confirm-popup-flipped:after {
  border-top-color: var(--overlay-panel-bg-color);
}

.p-confirm-popup.p-confirm-popup-flipped:before {
  border-top-color: var(--overlay-panel-bg-color);
}

.p-confirm-popup .p-confirm-popup-icon {
  font-size: 1.5rem;
}

.p-confirm-popup .p-confirm-popup-message {
  margin-left: 1rem;
}