.p-component-overlay {
  background-color: $overlay-bg-color;
  transition-duration: 0.2s;
  z-index: 1;
}

.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}

@keyframes p-component-overlay-enter-animation {
  from {
    background-color: transparent;
  }
  to {
    background-color: $overlay-bg-color;
  }
}

@keyframes p-component-overlay-leave-animation {
  from {
    background-color: $overlay-bg-color;
  }
  to {
    background-color: transparent;
  }
}
