@use 'mixins';
@use 'theme-mode-variables';
@use 'variables';

.p-steps {
  position: relative;
  overflow-x: hidden;

  ul[role='tablist'] {
    justify-content: space-evenly;
  }

  .p-steps-item {
    background-color: transparent;
    text-align: center;
    flex: none;

    .p-menuitem-link {
      display: inline-block;
      text-align: center;
      background-color: transparent;
      overflow: hidden;

      .p-steps-number {
        display: inline-block;
        background-color: theme-mode-variables.$menu-panel-txt-color;
        @include mixins.border-radius(50%);
        padding: 0.5em;
        font-size: 1em;
        color: theme-mode-variables.$secondary-text-color;
        position: relative;
        top: 1em;
        margin-bottom: 1em;
        //border: 1px solid lighten(variables.$primaryColor, 15%);
        border: 1px solid theme-mode-variables.$dropdown-overlay-border-color;
        width: 2.5em;
        height: 2.5em;
      }

      .p-steps-title {
        display: block;
        margin-top: 0.45em;
        color: theme-mode-variables.$lighter-default-text-color;
      }
    }

    &.p-disabled {
      .p-steps-number {
        background-color: theme-mode-variables.$grid-container-bg-color;
        border-color: theme-mode-variables.$grid-item-border-color;
        color: theme-mode-variables.$default-text-color;
      }
    }

    &.p-highlight {
      .p-steps-number.p-menuitem-link {
        background-color: theme-mode-variables.$paginator-active-bg-color;
        border: 2px solid var(--input-txt-border-focus-color);
        color: var(--input-background-color);
        font-weight: bold;
      }

      .p-steps-title {
        font-weight: 600;
        color: theme-mode-variables.$default-text-color;
      }
    }

    &:last-child {
      .p-menuitem-link {
        display: block;
      }
    }
  }

  &:before {
    content: ' ';
    border: 1px solid theme-mode-variables.$overlay-panel-border-color;
    width: 100%;
    top: 45%;
    left: 0;
    display: block;
    position: absolute;
  }
}
