@use 'mixins';
@use 'theme-mode-variables';
@use 'variables';

body .dialog-left-tab.p-tabview.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover,
body .dialog-left-tab.p-tabview.p-tabview .p-tabview-nav li.p-highlight {
  background-color: transparent;
}

body .dialog-left-tab.p-tabview.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover a,
body .dialog-left-tab.p-tabview.p-tabview .p-tabview-nav li.p-highlight a {
  color: theme-mode-variables.$admin-item-bg-active-color;
}

body .dialog-left-tab.p-tabview.p-tabview .p-tabview-nav li a {
  padding: 3px;
}

@media screen and (max-width: 640px) {
  ul.p-tabview-nav.p-reset.p-helper-clearfix {
    padding: 0.429em 0.857em;
    height: 50px;
    width: 100%;
    min-height: 40px;
    display: flex;
    overflow: auto;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background: theme-mode-variables.$page-header-bg-color;
    @include mixins.custom-scrollbar()
  }
  .p-tabview-left>.p-tabview-panels {
    width: 100%;
    height: calc(100% - 50px);
  }
  body .p-tabview-title {
    white-space: nowrap;
    padding: 0 12px;
  }
}
