@use 'theme-mode-variables';
@use 'variables';

.p-tabview .p-tabview-nav {
  background: transparent;
  border-bottom: 1px solid theme-mode-variables.$grid-item-border-color;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: 0;
  background: transparent;
  color: theme-mode-variables.$input-txt-color;
  padding: 1rem 1.5rem;
  font-weight: 600;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: none;
  margin: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: theme-mode-variables.$tab-view-hover-color;
  color: theme-mode-variables.$default-text-color;
  border-color: transparent;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: theme-mode-variables.$tab-view-hover-color;
  border-color: transparent;
  color: theme-mode-variables.$tabview-active-txt-color;
}

.p-tabview .p-tabview-left-icon {
  margin-right: 0.5rem;
}

.p-tabview .p-tabview-right-icon {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-close {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-panels {
  height: 100%;
  width: 100%;
  padding: 0.429em 0;
}

.p-tabview .p-tabview-nav {
  position: relative;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  transition: background-color 0.2s;
  border-radius: 0;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: theme-mode-variables.$tabview-active-bg-color;
  transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
}
