@if (!isFullScreenMode || (isFullScreenMode && showToolbarDiv)) {
<div #sessionToolbar id="sessionToolbar" [ngClass]="isFullScreenMode?'session-toolbar-layer':''"
  class="session-toolbar">

  @if (leftButtons.length > 0) {
  <div class="session-toolbar-left-group">
    @for (button of leftButtons; track button.label; let i = $index; let last = $last) {
    <p-button (click)="button.action()" [label]="button.label" [icon]="button.icon" iconPos="left"></p-button>
    @if (!last) {
    <div class="separator"></div>
    }
    }
  </div>
  }

  <div class="session-toolbar-middle-group">
    @for (button of middleButtons; track button.label; let i = $index; let last = $last) {
    <p-button (click)="button.action()" [label]="button.label" [icon]="button.icon" iconPos="left"></p-button>
    @if (!last) {
    <div class="separator"></div>
    }
    }

    @if (middleToggleButtons.length > 0) {
    <div class="separator"></div>
    }

    @for (button of middleToggleButtons; track button.label; let i = $index; let last = $last) {
    <p-button (click)="button.action()" [label]="button.label" [icon]="button.icon" iconPos="left"
      [styleClass]="button.isActive() ? '' : 'p-button-inactive'">
    </p-button>

    @if (!last) {
    <div class="separator"></div>
    }
    }
  </div>

  @if (checkboxes.length > 0) {
  <div class="session-toolbar-middle-group">
    @for (checkbox of checkboxes; track checkbox.label; let i = $index; let last = $last) {
    <p-checkbox [inputId]="'checkbox' + i" (onChange)="checkbox.onChange($event.checked)" [(ngModel)]="checkbox.value"
      [disabled]="!checkbox.enabled()" [binary]="true">
    </p-checkbox>

    <!-- TODO: check label position. This was changed during the upgrade to PrimeNG v20 -->
    <label [for]="'checkbox' + i">{{ checkbox.label }}</label>

    @if (!last) {
    <div class="separator"></div>
    }
    }
  </div>
  }

  @if (sliders.length > 0) {
  <div class="session-toolbar-middle-group">
    @for (slider of sliders; track slider.label; let last = $last) {
    <label>{{ slider.label }}</label>
    <p-slider [(ngModel)]="slider.value" (onSlideEnd)="slider.onChange($event.value)" [min]="slider.min"
      [max]="slider.max" [step]="slider.step">
    </p-slider>
    <span>{{ slider.value }}</span>

    @if (!last) {
    <div class="separator"></div>
    }
    }
  </div>
  }

  @if (rightButtons.length > 0) {
  <div class="session-toolbar-right-group">
    @for (button of rightButtons; track button.label; let i = $index; let last = $last) {
    <p-button (click)="button.action()" [label]="button.label" [icon]="button.icon" iconPos="left">
    </p-button>

    @if (rightButtons.length > 1 && !last) {
    <div class="separator"></div>
    }
    }
  </div>
  }
</div>
}
