@use 'variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 16px;

  border-bottom: 1px solid var(--border-secondary-color);
}

.spotlight-container {
  width: 480px;

  .spotlight-shortcut {
    margin: 5px;
    font-size: 10px;
    border-radius: variables.$borderRadius;
    border: 1px solid var(--border-secondary-color);
    background-color: var(--bg-secondary-color);
    white-space: nowrap;
    padding: 5px;
  }
}

.profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;

  .user-actions {
    margin-right: 10px;
  }
}

