@import '../../../../../../assets/css/style/mixins';
@import "../../../../../../assets/css/style/variables";
@import "../../../../../../assets/css/theme/theme-mode-variables";

:host {
  --box-background-color: white;
  --box-text-color: rgb(var(--base-color-rgb));
}

:host ::ng-deep .p-dropdown {
  width: 100%;
  min-width: 100% !important;
}

:host ::ng-deep .p-message-summary {
  display: none !important;
}

:host ::ng-deep .p-message.p-message-error {
  timescircleicon {
    display: inline !important;
  }
  border: none;
  text-align: left;

  &::before {
    background: rgba(255, 26, 26, 0.1) none;
    width: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-message {
  margin-bottom: 10px;
}

.box {
  background-color: var(--box-background-color);
  width: 377px;
  border-radius: 8px;
  padding: 24px;
}

.centered-box {
  margin: auto; /* for horizontal centering */
}

.box-header {
  //width: 329px;
  padding-bottom: 24px;
}

.box-title {
  color: var(--box-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
}

.box-content {
  overflow: auto;
  max-height: 100%;
}

.gateway-form-group {
  padding: 0px 0px 18px 0px;
}

.gateway-form-input {
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input[type="password"] {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.col-pad-right-lg {
  padding-right: 15px !important;
}
.col-pad-right-md {
  padding-right: 10px !important;
}
.col-pad-right-sm {
  padding-right: 5px !important;
}

.box-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: $fontFamily;
  color: $default-text-color !important;
  line-height: 11px;
}

.form-helper-text {
  line-height: 11px;
  word-wrap: break-word;
  color: var(--status-error-text-color);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex
}

.more-text {
  color: var(--security-box-action-color);
}
