.backdrop-container {
  .joyride-backdrop {
    background-color: $overlay-bg-color !important;
  }
}

.joyride-step__holder {
  animation: fade-in 800ms cubic-bezier(0.25, 0.8, 0.25, 1);

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .joyride-step__arrow {
    .joyride-arrow__top {
      border-bottom-color: var(--dialog-bg-color);
    }

    .joyride-arrow__left {
      border-right-color: var(--dialog-bg-color);
    }

    .joyride-arrow__right {
      border-left-color: var(--dialog-bg-color);
    }

    .joyride-arrow__bottom {
      border-top-color: var(--dialog-bg-color);
    }
  }

  .joyride-step__container {
    color: var(--default-text-color);
    border: grey;
    border-radius: $borderRadius;
    background: var(--dialog-bg-color);
    box-shadow: $defaultBoxShadow;
    padding: 0;

    .joyride-step__close {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 50%;
      color: var(--dialog-header-txt-color);
      transition: background-color ease-in-out $transitionDuration;

      &:before {
        font-family: devolutions-icons;
        content: "\e93e";
      }

      &:hover:not(.p-disabled):not([disabled]) {
        background-color: var(--action-btn-hover-bg-color);
      }

      &:active:not(.p-disabled):not([disabled]) {
        background-color: var(--action-btn-pressed-bg-color);
      }

      svg {
        display: none;
      }
    }

    .joyride-step__header {
      padding: 0 0 10px;
      margin: 10px;
      border-bottom: 1px solid var(--dialog-header-border-color);

      .joyride-step__title {
        color: var(--dialog-header-txt-color) !important;
      }
    }

    .joyride-step__body {
      padding: 10px;
    }

    .joyride-step__footer {
      padding: 10px;
      background-color: var(--dialog-footer-bg-color);
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      .joyride-step__buttons-container {
        button {
          background: var(--dialog-footer-btn-bg-color) !important;
          color: #fff !important;
          font-weight: 400;
          padding: 7px 18px;
          border: 0;
          margin-right: 6px;
          border-radius: 2px;
          line-height: 14px;
          font-size: 14px;
          height: 30px;
          transition: background-color ease-in-out $transitionDuration;

          &:hover {
            background: var(--dialog-footer-btn-bg-hover-color) !important;
          }

          &:active {
            background: var(--dialog-footer-btn-bg-pressed-color) !important;
          }
        }
      }

      .joyride-step__counter-container {
        .joyride-step__counter {

        }
      }
    }
  }
}
