@use 'variables';
@use 'mixins';

:host {
  display: block;
  margin-bottom: 4px;
}

.menu-list-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  .menu-list-item {
    display: flex;
    align-items: center;
    border-radius: variables.$borderRadius;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: transparent;

    .left-content {
      display: flex;
      align-items: center;
      flex-grow: 1;
      overflow: hidden;
    }

    i {
      font-size: 16px;
      padding-right: 8px;
    }

    .menu-list-item-label {
      @include mixins.text-ellipsis();
    }

    .dvl-icon-warning {
      color: var(--error-btn-bg-color);
    }

    &:hover {
      color: var(--text-accent-color);
      background-color: rgba(255, 255, 255, 0.04);
      cursor: pointer;

      ::ng-deep .p-button {
        display: inline-block;
      }
    }

    &.selected {
      color: var(--text-accent-color);
      background-color: rgba(66, 66, 66, 1);
      cursor: pointer;
    }

    &.selected:hover {
      background-color: rgba(66, 66, 66, 1);
    }

    ::ng-deep .p-button {
      margin-left: auto;
      border: none;
      border-radius: 4px;
      background-color: transparent;
      padding: 0;
      margin-right: 0;
      height: 16px;
      width: 16px;
      display: none;
    }
  }
}

:host-context(.app-menu-container.layout-menu-slim) {
  .menu-list-item-container {
    justify-content: center;

    .menu-list-item {
      width: auto;

      i {
        padding-right: 0;
      }

      .menu-list-item-label {
        display: none;
      }

      ::ng-deep .p-button {
        display: none;
      }
    }
  }
}
