/* Define default theme (e.g., light theme) */
:root {
  --main-body-bg: var(--bg-200);
  --main-header-bg: var(--bg-100);
  --main-content-bg: var(--bg-brand-200);
  --main-wrapper-bg: var(--bg-100);
  --field-disabled-bg: var(--bg-300);
  --overlay-bg-content: var(--bg-100);
  --dvl-icon-color: rgba(13, 13, 13, 0.8);
  --always-white: #ffffff;
  --always-black: #000000;
  --accent-brand-100: rgba(231, 247, 254, 1);
  --accent-brand-200: rgba(157, 218, 251, 1);
  --accent-brand-300: rgba(84, 182, 248, 1);
  --accent-brand-400: rgba(0, 104, 195, 1);
  --accent-brand-500: rgba(5, 74, 122, 1);
  --accent-brand-600: rgba(2, 33, 49, 1);
  --accent-caution-100: rgba(255, 248, 214, 1);
  --accent-caution-200: rgba(251, 240, 157, 1);
  --accent-caution-300: rgba(246, 214, 35, 1);
  --accent-caution-400: rgba(250, 208, 0, 1);
  --accent-caution-500: rgba(194, 165, 0, 1);
  --accent-caution-600: rgba(49, 44, 2, 1);
  --accent-danger-100: rgba(255, 224, 224, 1);
  --accent-danger-200: rgba(251, 157, 157, 1);
  --accent-danger-300: rgba(248, 84, 84, 1);
  --accent-danger-400: rgba(255, 1, 1, 1);
  --accent-danger-500: rgba(177, 1, 1, 1);
  --accent-danger-600: rgba(83, 3, 3, 1);
  --accent-success-100: rgba(224, 255, 208, 1);
  --accent-success-200: rgba(181, 251, 157, 1);
  --accent-success-300: rgba(111, 248, 84, 1);
  --accent-success-400: rgba(15, 184, 0, 1);
  --accent-success-500: rgba(5, 122, 11, 1);
  --accent-success-600: rgba(4, 49, 2, 1);
  --accent-warning-100: rgba(255, 238, 219, 1);
  --accent-warning-200: rgba(251, 206, 157, 1);
  --accent-warning-300: rgba(255, 176, 87, 1);
  --accent-warning-400: rgba(255, 136, 0, 1);
  --accent-warning-500: rgba(221, 118, 9, 1);
  --accent-warning-600: rgba(132, 71, 6, 1);
  --alt-100: rgba(0, 0, 0, 0.05);
  --alt-200: rgba(0, 0, 0, 0.15);
  --alt-300: rgba(0, 0, 0, 0.25);
  --alt-400: rgba(0, 0, 0, 0.35);
  --alt-500: rgba(0, 0, 0, 0.5);
  --alt-600: rgba(0, 0, 0, 0.65);
  --alt-contrast-100: rgba(255, 255, 255, 0.07);
  --alt-contrast-200: rgba(255, 255, 255, 0.14);
  --alt-contrast-300: rgba(255, 255, 255, 0.21);
  --alt-contrast-400: rgba(255, 255, 255, 0.28);
  --alt-contrast-500: rgba(255, 255, 255, 0.35);
  --alt-contrast-600: rgba(255, 255, 255, 0.42);
  --bg-100: rgba(255, 255, 255, 1);
  --bg-200: rgba(249, 249, 249, 1);
  --bg-300: rgba(242, 242, 242, 1);
  --bg-400: rgba(236, 236, 236, 1);
  --bg-500: rgba(226, 226, 226, 1);
  --bg-600: rgba(217, 217, 217, 1);
  --bg-brand-100: rgba(250, 252, 255, 1);
  --bg-brand-200: rgba(241, 248, 254, 1);
  --bg-brand-300: rgba(234, 245, 255, 1);
  --bg-brand-400: rgba(225, 240, 255, 1);
  --bg-brand-500: rgba(209, 233, 255, 1);
  --bg-brand-600: rgba(189, 223, 255, 1);
  --bg-contrast-100: rgba(0, 0, 0, 1);
  --bg-contrast-200: rgba(26, 26, 26, 1);
  --bg-contrast-300: rgba(37, 37, 37, 1);
  --bg-contrast-400: rgba(46, 46, 46, 1);
  --bg-contrast-500: rgba(56, 56, 56, 1);
  --bg-contrast-600: rgba(70, 70, 70, 1);
  --bg-contrast-brand-100: rgba(1, 18, 33, 1);
  --bg-contrast-brand-200: rgba(10, 23, 34, 1);
  --bg-contrast-brand-300: rgba(21, 28, 34, 1);
  --bg-contrast-brand-400: rgba(26, 33, 40, 1);
  --bg-contrast-brand-500: rgba(29, 40, 49, 1);
  --bg-contrast-brand-600: rgba(30, 47, 60, 1);
  --border-100: rgba(242, 242, 242, 1);
  --border-200: rgba(217, 217, 217, 1);
  --border-300: rgba(178, 178, 178, 1);
  --border-400: rgba(153, 153, 153, 1);
  --border-brand-100: rgba(0, 104, 195, 0.1);
  --border-brand-200: rgba(0, 104, 195, 0.15);
  --border-brand-300: rgba(0, 104, 195, 0.2);
  --border-brand-400: rgba(0, 104, 195, 0.35);
  --border-contrast-100: rgba(26, 26, 26, 1);
  --border-contrast-200: rgba(38, 38, 38, 1);
  --border-contrast-300: rgba(77, 77, 77, 1);
  --border-contrast-400: rgba(89, 89, 89, 1);
  --border-contrast-brand-100: rgba(58, 163, 255, 0.1);
  --border-contrast-brand-200: rgba(58, 163, 255, 0.15);
  --border-contrast-brand-300: rgba(58, 163, 255, 0.2);
  --border-contrast-brand-400: rgba(58, 163, 255, 0.35);
  --products-dvls-100: rgba(255, 245, 247, 1);
  --products-dvls-200: rgba(253, 232, 233, 1);
  --products-dvls-logo: rgba(237, 31, 36, 1);
  --products-gateway-100: rgba(247, 245, 248, 1);
  --products-gateway-200: rgba(245, 234, 250, 1);
  --products-gateway-logo: rgba(153, 51, 204, 1);
  --products-hub-100: rgba(255, 250, 246, 1);
  --products-hub-200: rgba(255, 239, 229, 1);
  --products-hub-logo: rgba(255, 102, 0, 1);
  --products-launcher-100: rgba(255, 251, 245, 1);
  --products-launcher-200: rgba(255, 249, 236, 1);
  --products-launcher-logo: rgba(255, 170, 0, 1);
  --products-others-100: rgba(0, 0, 0, 0.03);
  --products-others-logo: rgba(0, 158, 255, 1);
  --products-pam-100: rgba(249, 253, 245, 1);
  --products-pam-200: rgba(240, 249, 229, 1);
  --products-pam-logo: rgba(104, 195, 0, 1);
  --products-powershell-100: rgba(245, 251, 255, 1);
  --products-powershell-200: rgba(224, 243, 255, 1);
  --products-powershell-logo: rgba(0, 158, 255, 1);
  --products-rdm-100: rgba(245, 249, 253, 1);
  --products-rdm-200: rgba(231, 240, 254, 1);
  --products-rdm-logo: rgba(20, 110, 245, 1);
  --products-workspace-100: rgba(245, 255, 253, 1);
  --products-workspace-200: rgba(228, 250, 245, 1);
  --products-workspace-logo: rgba(29, 211, 176, 1);
  --text-100: rgba(153, 153, 153, 1);
  --text-200: rgba(115, 115, 115, 1);
  --text-300: rgba(64, 64, 64, 1);
  --text-400: rgba(13, 13, 13, 1);
  --text-action: rgba(0, 0, 255, 1);
  --text-brand: rgba(0, 104, 195, 1);
  --text-caution: rgba(250, 208, 0, 1);
  --text-contrast-100: rgba(102, 102, 102, 1);
  --text-contrast-200: rgba(153, 153, 153, 1);
  --text-contrast-300: rgba(204, 204, 204, 1);
  --text-contrast-400: rgba(255, 255, 255, 1);
  --text-contrast-action: rgba(0, 132, 255, 1);
  --text-contrast-brand: rgba(58, 163, 255, 1);
  --text-contrast-danger: rgba(249, 118, 108, 1);
  --text-contrast-success: rgba(188, 234, 138, 1);
  --text-contrast-warning: rgba(247, 181, 100, 1);
  --text-danger: rgba(240, 68, 56, 1);
  --text-success: rgba(134, 203, 60, 1);
  --text-warning: rgba(255, 158, 43, 1);
}

/* Define dark theme */
[data-theme='dark'] {
  --main-body-bg: var(--bg-200);
  --main-header-bg: var(--bg-200);
  --main-content-bg: var(--bg-200);
  --main-wrapper-bg: var(--bg-200);
  --field-disabled-bg: var(--bg-500);
  --overlay-bg-content: var(--bg-200);
  --dvl-icon-color: rgba(255, 255, 255, 0.8);
  --always-white: #ffffff;
  --always-black: #000000;
  --accent-brand-100: rgba(1, 19, 28, 1);
  --accent-brand-200: rgba(4, 62, 103, 1);
  --accent-brand-300: rgba(6, 92, 152, 1);
  --accent-brand-400: rgba(10, 127, 230, 1);
  --accent-brand-500: rgba(54, 166, 247, 1);
  --accent-brand-600: rgba(147, 219, 251, 1);
  --accent-caution-100: rgba(50, 44, 1, 1);
  --accent-caution-200: rgba(103, 95, 4, 1);
  --accent-caution-300: rgba(152, 135, 6, 1);
  --accent-caution-400: rgba(215, 191, 9, 1);
  --accent-caution-500: rgba(236, 214, 50, 1);
  --accent-caution-600: rgba(251, 239, 147, 1);
  --accent-danger-100: rgba(40, 1, 1, 1);
  --accent-danger-200: rgba(103, 4, 4, 1);
  --accent-danger-300: rgba(152, 6, 6, 1);
  --accent-danger-400: rgba(211, 9, 9, 1);
  --accent-danger-500: rgba(241, 77, 77, 1);
  --accent-danger-600: rgba(251, 147, 147, 1);
  --accent-success-100: rgba(2, 34, 1, 1);
  --accent-success-200: rgba(4, 103, 4, 1);
  --accent-success-300: rgba(18, 152, 6, 1);
  --accent-success-400: rgba(63, 191, 8, 1);
  --accent-success-500: rgba(73, 229, 21, 1);
  --accent-success-600: rgba(173, 251, 147, 1);
  --accent-warning-100: rgba(54, 29, 2, 1);
  --accent-warning-200: rgba(103, 55, 4, 1);
  --accent-warning-300: rgba(152, 81, 6, 1);
  --accent-warning-400: rgba(230, 124, 10, 1);
  --accent-warning-500: rgba(247, 154, 54, 1);
  --accent-warning-600: rgba(251, 201, 147, 1);
  --alt-100: rgba(255, 255, 255, 0.07);
  --alt-200: rgba(255, 255, 255, 0.14);
  --alt-300: rgba(255, 255, 255, 0.21);
  --alt-400: rgba(255, 255, 255, 0.28);
  --alt-500: rgba(255, 255, 255, 0.35);
  --alt-600: rgba(255, 255, 255, 0.42);
  --alt-contrast-100: rgba(0, 0, 0, 0.05);
  --alt-contrast-200: rgba(0, 0, 0, 0.1);
  --alt-contrast-300: rgba(0, 0, 0, 0.15);
  --alt-contrast-400: rgba(0, 0, 0, 0.2);
  --alt-contrast-500: rgba(0, 0, 0, 0.3);
  --alt-contrast-600: rgba(0, 0, 0, 0.4);
  --bg-100: rgba(22, 27, 38, 1);
  --bg-200: rgba(12, 17, 29, 1);
  --bg-300: rgba(28, 34, 46, 1);
  --bg-400: rgba(33, 40, 53, 1);
  --bg-500: rgba(39, 46, 60, 1);
  --bg-600: rgba(46, 54, 68, 1);
  --bg-brand-100: rgba(16, 29, 47, 1);
  --bg-brand-200: rgba(26, 43, 64, 1);
  --bg-brand-300: rgba(33, 55, 79, 1);
  --bg-brand-400: rgba(38, 65, 93, 1);
  --bg-brand-500: rgba(44, 74, 107, 1);
  --bg-brand-600: rgba(49, 85, 120, 1);
  --bg-contrast-100: rgba(255, 255, 255, 1);
  --bg-contrast-200: rgba(249, 249, 249, 1);
  --bg-contrast-300: rgba(242, 242, 242, 1);
  --bg-contrast-400: rgba(236, 236, 236, 1);
  --bg-contrast-500: rgba(226, 226, 226, 1);
  --bg-contrast-600: rgba(217, 217, 217, 1);
  --bg-contrast-brand-100: rgba(250, 252, 255, 1);
  --bg-contrast-brand-200: rgba(241, 248, 254, 1);
  --bg-contrast-brand-300: rgba(234, 245, 255, 1);
  --bg-contrast-brand-400: rgba(225, 240, 255, 1);
  --bg-contrast-brand-500: rgba(209, 233, 255, 1);
  --bg-contrast-brand-600: rgba(189, 223, 255, 1);
  --border-100: rgba(42, 46, 57, 1);
  --border-200: rgba(47, 52, 65, 1);
  --border-300: rgba(51, 57, 71, 1);
  --border-400: rgba(56, 63, 78, 1);
  --border-brand-100: rgba(58, 163, 255, 0.1);
  --border-brand-200: rgba(58, 163, 255, 0.15);
  --border-brand-300: rgba(58, 163, 255, 0.2);
  --border-brand-400: rgba(58, 163, 255, 0.35);
  --border-contrast-100: rgba(242, 242, 242, 1);
  --border-contrast-200: rgba(217, 217, 217, 1);
  --border-contrast-300: rgba(178, 178, 178, 1);
  --border-contrast-400: rgba(153, 153, 153, 1);
  --border-contrast-brand-100: rgba(0, 104, 195, 0.1);
  --border-contrast-brand-200: rgba(0, 104, 195, 0.15);
  --border-contrast-brand-300: rgba(0, 104, 195, 0.2);
  --border-contrast-brand-400: rgba(0, 104, 195, 0.35);
  --products-dvls-100: rgba(31, 27, 38, 1);
  --products-dvls-200: rgba(237, 31, 36, 0.1);
  --products-dvls-logo: rgba(237, 31, 36, 1);
  --products-gateway-100: rgba(25, 26, 43, 1);
  --products-gateway-200: rgba(153, 51, 204, 0.1);
  --products-gateway-logo: rgba(153, 51, 204, 1);
  --products-hub-100: rgba(31, 31, 37, 1);
  --products-hub-200: rgba(255, 102, 0, 0.1);
  --products-hub-logo: rgba(255, 102, 0, 1);
  --products-launcher-100: rgba(38, 34, 27, 1);
  --products-launcher-200: rgba(255, 170, 0, 0.1);
  --products-launcher-logo: rgba(255, 170, 0, 1);
  --products-others-100: rgba(255, 255, 255, 0.05);
  --products-others-logo: rgba(0, 158, 255, 1);
  --products-pam-100: rgba(25, 34, 36, 1);
  --products-pam-200: rgba(104, 195, 0, 0.1);
  --products-pam-logo: rgba(104, 195, 0, 1);
  --products-powershell-100: rgba(38, 34, 27, 1);
  --products-powershell-200: rgba(0, 158, 255, 0.1);
  --products-powershell-logo: rgba(0, 158, 255, 1);
  --products-rdm-100: rgba(21, 30, 44, 1);
  --products-rdm-200: rgba(20, 110, 245, 0.1);
  --products-rdm-logo: rgba(20, 110, 245, 1);
  --products-workspace-100: rgba(27, 38, 35, 1);
  --products-workspace-200: rgba(29, 211, 176, 0.1);
  --products-workspace-logo: rgba(29, 211, 176, 1);
  --text-100: rgba(115, 118, 125, 1);
  --text-200: rgba(150, 152, 157, 1);
  --text-300: rgba(194, 195, 198, 1);
  --text-400: rgba(255, 255, 255, 1);
  --text-action: rgba(0, 132, 255, 1);
  --text-brand: rgba(58, 163, 255, 1);
  --text-caution: rgba(215, 191, 9, 1);
  --text-contrast-100: rgba(153, 153, 153, 1);
  --text-contrast-200: rgba(115, 115, 115, 1);
  --text-contrast-300: rgba(64, 64, 64, 1);
  --text-contrast-400: rgba(13, 13, 13, 1);
  --text-contrast-action: rgba(0, 0, 255, 1);
  --text-contrast-brand: rgba(0, 104, 195, 1);
  --text-contrast-danger: rgba(240, 68, 56, 1);
  --text-contrast-success: rgba(134, 203, 60, 1);
  --text-contrast-warning: rgba(255, 158, 43, 1);
  --text-danger: rgba(211, 9, 9, 1);
  --text-success: rgba(188, 234, 138, 1);
  --text-warning: rgba(247, 181, 100, 1);
}
