@use '../../../../../../../assets/css/style/mixins' as *;
@use "../../../../../../../assets/css/style/variables" as *;
@use "../../../../../../../assets/css/theme/theme-mode-variables" as *;

:host ::ng-deep .p-multiselect {
  width: 100%;
  min-width: 100% !important;
}

.gateway-form-group {
  padding: 0 0 18px 0;
}

.gateway-form-input {
  display: flex;
  align-items: center;
}

.col-pad-right-lg {
  padding-right: 15px !important;
}
.col-pad-right-md {
  padding-right: 10px !important;
}
.col-pad-right-sm {
  padding-right: 5px !important;
}

.form-helper-text {
  line-height: 11px;
  word-wrap: break-word;
  color: var(--status-error-text-color);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  padding-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}
