[package]
name = "transport"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
tokio = { version = "1.38", features = ["io-util"] }
futures-core = "0.3"
futures-sink = "0.3"
pin-project-lite = "0.2"

[dev-dependencies]
futures-util = "0.3"
test-utils = { path = "../test-utils" }
tokio = { version = "1.38", features = ["rt", "macros"] }
proptest = "1.5"
anyhow = "1"
