[package]
name = "transport"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
tokio = { version = "1.43", features = ["io-util", "sync", "rt", "macros", "time"] }
futures-core = "0.3"
futures-sink = "0.3"
futures-util = { version = "0.3", features = ["sink"] }
pin-project-lite = "0.2"
parking_lot = "0.12"

[dev-dependencies]
futures-util = "0.3"
test-utils = { path = "../test-utils" }
proptest = "1.5"
anyhow = "1"
