[package]
name = "tokengen"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2024"
publish = false
default-run = "tokengen"

[workspace]
resolver = "2"
members = ["."]

[dependencies]
picky = { version = "7.0.0-rc.8", default-features = false, features = [
    "jose"
] }
clap = { version = "3.0", features = ["derive", "env"] }
humantime = "2.1"
serde = "1.0"
serde_json = "1.0"
uuid = { version = "1.1", features = ["v4", "serde"] }
tap = "1.0"
tokio = { version = "1.41", features = ["fs", "io-util", "net", "rt", "rt-multi-thread"] }
axum = { version = "0.8" }
tower = { version = "0.5" }
tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tower-http = { version = "0.6.1", features = ["cors", "trace"] }
