<div #sessionTelnetContainer id="web-telnet-terminal-app">
  @if (currentStatus.isDisabled) {
    <div class="session-form">
      <web-client-form
        [webSessionId]="webSessionId"
        [inputFormData]="formData"
        [sessionTerminationMessage]="sessionTerminationMessage"
        [isFormExists]="true"></web-client-form>
    </div>
  }

  @if (loading) {
    <div class="loading-info-container">
      <div class="loading-info">
        @if (!hideSpinnerOnly) {
          <p-progressSpinner></p-progressSpinner>
        }
      </div>
    </div>
  }

  <web-telnet-gui [class.hide-from-view]="loading" #webTelnetGuiTerminal></web-telnet-gui>

  @if (!loading && !currentStatus.isDisabled) {
    <div class="toolbar-overlay-anchor">
      <floating-session-toolbar
        [features]="{}"
        (sessionClose)="startTerminationProcess()">
      </floating-session-toolbar>
    </div>
  }

</div>
