<div [formGroup]="parentForm">
  <div class="gateway-form-input">
      <p-checkbox formControlName="jpegEnabled"
                  label="Use Tight JPEG"
                  binary="true"
                  (onChange)="toggleCheckbox()"></p-checkbox>
  </div>

  @if (jpegEnabled) {
    <div class="gateway-sub-control">
      <label for="jpegQualityLevel">JPEG Quality Level</label>
      <div class="gateway-form-input">
            <p-inputNumber formControlName="jpegQualityLevel"
                           id="jpegQualityLevel"
                           mode="decimal"
                           [min]="0"
                           [max]="9"
                           [showButtons]="true"></p-inputNumber>
      </div>
    </div>
  }
</div>
