:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

:host ::ng-deep .tabview-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

:host ::ng-deep .session-background {
  background: #F9F9F9 url('../../../../../assets/images/session_background.png');
}

:host ::ng-deep .p-tabs .p-tabpanels {
  padding: 0;
}

//TODO uncoment
// :host ::ng-deep .p-tabs{
//   display: flex;
//   height: 100%;
//   width: 100%;
//   flex-direction: column;
// }
