@use '../../../../../../../assets/css/style/mixins' as *;
@use "../../../../../../../assets/css/style/variables" as *;
@use "../../../../../../../assets/css/theme/theme-mode-variables" as *;

:host {
  --box-background-color: white;
  --box-text-color: rgb(var(--base-color-rgb));
}

.gateway-form-group {
  padding: 0 0 18px 0;
}

.gateway-form-input {
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input[type="password"] {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.col-pad-right-lg {
  padding-right: 15px !important;
}
.col-pad-right-md {
  padding-right: 10px !important;
}
.col-pad-right-sm {
  padding-right: 5px !important;
}

.form-helper-text {
  line-height: 11px;
  word-wrap: break-word;
  color: var(--status-error-text-color);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  padding-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

