# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# compiled output
/client/
/tmp/
/out-tsc/
/dist/
# Only include if you have a build process that generates files here
# /build/

# dependencies
node_modules/
web/node_modules/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace

# misc
.angular/cache
web/.angular/cache
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log

# MacOS
.DS_Store

# Windows
Thumbs.db

player/
