<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<!--
First-time install dialog sequence:
 - WixUI_WelcomeDlg
 - WixUI_LicenseAgreementDlg
 - WixUI_InstallDirDlg
 - WixUI_VerifyReadyDlg
 - WixUI_DiskCostDlg

Maintenance dialog sequence:
 - WixUI_MaintenanceWelcomeDlg
 - WixUI_MaintenanceTypeDlg
 - WixUI_InstallDirDlg
 - WixUI_VerifyReadyDlg

Patch dialog sequence:
 - WixUI_WelcomeDlg
 - WixUI_VerifyReadyDlg

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI Id="WixUI_CustomInstallDir">
            <Error Id="29989">!(loc.Error29989)</Error>
            <Error Id="29990">!(loc.Error29990)</Error>
            <Error Id="29991">!(loc.Error29991)</Error>        
            <Error Id="29992">!(loc.Error29992)</Error>
            <Error Id="29993">!(loc.Error29993)</Error>
            <Error Id="29994">!(loc.Error29994)</Error>
            <Error Id="29995">!(loc.Error29995)</Error>
            <Error Id="29996">!(loc.Error29996)</Error>
            <Error Id="29997">!(loc.Error29997)</Error>
            <Error Id="29998">!(loc.Error29998)</Error>
            <Error Id="29999">!(loc.Error29999)</Error>
            <Error Id="30000">!(loc.Error30000)</Error>

            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <DialogRef Id="DG_InvalidConfig" />
            
            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>
            <!-- <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="TestDlg"></Publish> -->

            <!-- Remove the EULA from the UI sequence -->
            <!-- <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish> -->

            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">NOT FirstInstall AND (WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1")</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="DG_Customize" Order="5">FirstInstall AND (WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1")</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="DG_Customize" Control="Back" Event="NewDialog" Value="InstallDirDlg"></Publish>
            <Publish Dialog="DG_Customize" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">P.CONFIGURE = "1"</Publish>
            <Publish Dialog="DG_Customize" Control="Next" Event="NewDialog" Value="DG_AccessUri">P.CONFIGURE = "0"</Publish>

            <Publish Dialog="DG_AccessUri" Control="Back" Event="NewDialog" Value="DG_Customize"></Publish>
            <Publish Dialog="DG_AccessUri" Control="Next" Event="DoAction" Value="CA.ValidateAccessUri" Order="1">1</Publish>
            <Publish Dialog="DG_AccessUri" Control="Next" Event="SpawnDialog" Value="DG_InvalidConfig" Order="2"><![CDATA[P.ERROR <> ""]]></Publish>
            <Publish Dialog="DG_AccessUri" Control="Next" Event="NewDialog" Value="DG_Listeners" Order="3"><![CDATA[P.ERROR = ""]]></Publish>

            <Publish Dialog="DG_Listeners" Control="Back" Event="NewDialog" Value="DG_AccessUri"></Publish>
            <Publish Dialog="DG_Listeners" Control="Next" Event="DoAction" Value="CA.ValidateListeners" Order="1">1</Publish>
            <Publish Dialog="DG_Listeners" Control="Next" Event="SpawnDialog" Value="DG_InvalidConfig" Order="2"><![CDATA[P.ERROR <> ""]]></Publish>
            <Publish Dialog="DG_Listeners" Control="Next" Event="NewDialog" Value="DG_Certificate" Order="2"><![CDATA[P.ERROR = "" AND P.HTTPURI_SCHEME = "https"]]></Publish>
            <Publish Dialog="DG_Listeners" Control="Next" Event="NewDialog" Value="DG_PublicKey" Order="3"><![CDATA[P.ERROR = "" AND P.HTTPURI_SCHEME = "http"]]></Publish>

            <Publish Dialog="DG_Certificate" Control="Back" Event="NewDialog" Value="DG_Listeners"></Publish>
            <Publish Dialog="DG_Certificate" Control="Next" Event="DoAction" Value="CA.ValidateCertificate" Order="1">1</Publish>
            <Publish Dialog="DG_Certificate" Control="Next" Event="SpawnDialog" Value="DG_InvalidConfig" Order="2"><![CDATA[P.ERROR <> ""]]></Publish>
            <Publish Dialog="DG_Certificate" Control="Next" Event="NewDialog" Value="DG_PublicKey" Order="3"><![CDATA[P.ERROR = ""]]></Publish>

            <Publish Dialog="DG_PublicKey" Control="Back" Event="NewDialog" Value="DG_Certificate" Order="1"><![CDATA[P.HTTPURI_SCHEME = "https"]]></Publish>
            <Publish Dialog="DG_PublicKey" Control="Back" Event="NewDialog" Value="DG_Listeners" Order="2"><![CDATA[P.HTTPURI_SCHEME = "http"]]></Publish>
            <Publish Dialog="DG_PublicKey" Control="Next" Event="DoAction" Value="CA.ValidatePublicKey" Order="1">1</Publish>
            <Publish Dialog="DG_PublicKey" Control="Next" Event="SpawnDialog" Value="DG_InvalidConfig" Order="2"><![CDATA[P.ERROR <> ""]]></Publish>
            <Publish Dialog="DG_PublicKey" Control="Next" Event="NewDialog" Value="DG_Service" Order="3"><![CDATA[P.ERROR = ""]]></Publish>

            <Publish Dialog="DG_Service" Control="Back" Event="NewDialog" Value="DG_PublicKey"></Publish>
            <Publish Dialog="DG_Service" Control="Next" Event="NewDialog" Value="DG_Summary"></Publish>

            <Publish Dialog="DG_Summary" Control="Back" Event="NewDialog" Value="DG_Service"></Publish>
            <Publish Dialog="DG_Summary" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DG_Customize" Order="1">FirstInstall AND P.CONFIGURE = "1"</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DG_Summary" Order="2">FirstInstall AND P.CONFIGURE = "0"</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="3">NOT FirstInstall</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">Installed AND NOT PATCH</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="5">Installed AND PATCH</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>
</Wix>