/*
body .p-accordion .p-accordion-header,
body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight,
body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a:focus,
body .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover,
body .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover a,
body .p-accordion .p-accordion-header > a:focus{
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .pi,
body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight span{
  color: $primaryColor;
}
*/
