@import 'theme-mode-variables';

.p-divider .p-divider-content {
  background-color: transparent;
}
.p-divider.p-divider-horizontal {
  margin: 1.25rem 0;
  padding: 0 1.25rem;
}
.p-divider.p-divider-horizontal:before {
  border-top: 1px solid $side-panel-border-color;
}
.p-divider.p-divider-horizontal .p-divider-content {
  padding: 0 0.5rem;
}
.p-divider.p-divider-vertical {
  margin: 0 1.25rem;
  padding: 1.25rem 0;
}
.p-divider.p-divider-vertical:before {
  border-left: 1px solid $side-panel-border-color;
}
.p-divider.p-divider-vertical .p-divider-content {
  padding: 0.5rem 0;
}
