.p-listbox {
  padding: 0;
  min-width: 12em;
  border: none !important;

  .p-checkbox {
    margin-right: 8px;
  }

  .p-listbox-header {
    padding: $headerPadding;
    display: flex;
    background: transparent;
    color: $default-text-color;
    border: 0 none;
    margin: 0 0 5px 0;
    @include border-radius(0);

    .p-listbox-filter-container {
      .p-inputtext {
        padding: 0.429em 2em 0.429em 0.429em;
      }

      .p-listbox-filter-icon {
        color: $disabled-text-color;
        top: 19px;
        right: 9px;
        left: auto;

        @include devolutions-dropdown-filter-icon-input();
      }
    }
  }

  .p-listbox-list-wrapper {
    @include custom-scrollbar();
  }

  .p-listbox-item {
    margin: 0;
    padding: $listItemPadding;
    @include border-radius(0);

    &.p-highlight {
      background-color: var(--menu-text-active-background-color);
    }

    > td {
      padding: $listItemPadding;
    }
  }

  &:not(.p-disabled) {
    .p-listbox-item {
      &:not(.p-highlight):not(.p-disabled):hover {
        background-color: var(--menu-text-hover-background-color);
        border-radius: 3px;
      }
    }
  }

  &.secondary-color .p-listbox-item {
    &.p-highlight {
      background-color: $tree-item-hover-bg-color;
      color: $tree-selector-text-color;
    }
  }

  &.secondary-color:not(.p-disabled) {
    .p-listbox-item {
      &:not(.p-highlight):not(.p-disabled):hover {
        background-color: $tree-item-hover-bg-color;
        color: $tree-selector-text-color;
      }

      &.p-highlight {
        color: $tree-selector-text-highlight-color;
      }
    }
  }





  &.p-disabled {
    .p-checkbox-box {
      &:not(.p-disabled):not(.p-highlight):hover {
        border: 1px solid $input-default-border-color;
      }
    }
  }

}
