.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border: 0 none;
  color: var(--action-btn-secondary-icon-color);
  min-width: 2.2rem;
  height: 2.2rem;
  margin: 0.143rem;
  border-radius: 50%;
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background-color: var(--action-btn-secondary-hover-bg-color);
}

.p-paginator .p-paginator-first {
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.p-paginator .p-paginator-last {
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 3rem;
}

.p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 0;
}

.p-paginator .p-paginator-current {
  background-color: var(--action-btn-secondary-color);
  min-width: 2.2rem;
  height: 2.2rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: var(--action-btn-secondary-icon-color);
  min-width: 2.2rem;
  height: 2.2rem;
  margin: 0.143rem;
  border-radius: 50%;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: var(--action-btn-pressed-bg-color);
  color: var(--action-btn-icon-color);
  font-weight: 600;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background-color: var(--action-btn-secondary-hover-bg-color);
}

.p-component.pagination-one-page {
  .p-paginator .p-paginator-element {
    display: none;
  }
}

p-dropdown[styleclass="p-paginator-rpp-options"] {
  order: -1;
  margin-right: auto;

  .p-paginator-rpp-options {
    width: auto;
    min-width: unset;
    height: auto !important;
    margin: 0;

    &.p-disabled {
      display: none;
    }
  }
}

