.p-progressbar {
  border: 0 none;
  height: 1.5rem;
  background: #dee2e6;
  border-radius: 3px;
}
.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #2196F3;
}
.p-progressbar .p-progressbar-label {
  color: #495057;
  line-height: 1.5rem;
}
