.p-selectbutton {
  .p-button {
    background-color: $side-panel-select-btn-inactive-bg-color;
    color: $select-btn-txt-color;
    border: 1px solid transparent;
    @include border-radius(0px);

    &:not(.p-disabled):not(.p-highlight):hover, &:not(.p-disabled):not(.p-highlight):active {
      background-color: $action-btn-secondary-hover-bg-color;
    }

    &.p-highlight {
      pointer-events: none;
      background-color: $side-panel-btn-bg-color;
      color: #fff;
    }
  }

  .p-button:first-child {
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }

  .p-button:last-child {
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

.selectbtn-display {
  .p-button {
    margin-right: 10px !important;
    border-radius: 18px !important;
  }
}
