.p-splitbutton.p-button-secondary > .p-button {
  color: #ffffff;
  background: #607D8B;
  border: 1px solid #607D8B;
}

.p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #56717d;
  color: #ffffff;
  border-color: #56717d;
}

.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #beccd2;
}

.p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: #4d646f;
  color: #ffffff;
  border-color: #4d646f;
}

.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: #607D8B;
  border: 1px solid;
}

.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(96, 125, 139, 0.04);
  color: #607D8B;
  border: 1px solid;
}

.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(96, 125, 139, 0.16);
  color: #607D8B;
  border: 1px solid;
}

.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: #607D8B;
  border-color: transparent;
}

.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(96, 125, 139, 0.04);
  border-color: transparent;
  color: #607D8B;
}

.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(96, 125, 139, 0.16);
  border-color: transparent;
  color: #607D8B;
}

.p-splitbutton.p-button-info > .p-button {
  color: #ffffff;
  background: #0288D1;
  border: 1px solid #0288D1;
}

.p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: #027abc;
  color: #ffffff;
  border-color: #027abc;
}

.p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #89d4fe;
}

.p-splitbutton.p-button-info > .p-button:enabled:active {
  background: #026da7;
  color: #ffffff;
  border-color: #026da7;
}

.p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: #0288D1;
  border: 1px solid;
}

.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(2, 136, 209, 0.04);
  color: #0288D1;
  border: 1px solid;
}

.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(2, 136, 209, 0.16);
  color: #0288D1;
  border: 1px solid;
}

.p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: #0288D1;
  border-color: transparent;
}

.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(2, 136, 209, 0.04);
  border-color: transparent;
  color: #0288D1;
}

.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(2, 136, 209, 0.16);
  border-color: transparent;
  color: #0288D1;
}

.p-splitbutton.p-button-success > .p-button {
  color: #ffffff;
  background: #689F38;
  border: 1px solid #689F38;
}

.p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: #5e8f32;
  color: #ffffff;
  border-color: #5e8f32;
}

.p-splitbutton.p-button-success > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #c2e0a8;
}

.p-splitbutton.p-button-success > .p-button:enabled:active {
  background: #537f2d;
  color: #ffffff;
  border-color: #537f2d;
}

.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent;
  color: #689F38;
  border: 1px solid;
}

.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  color: #689F38;
  border: 1px solid;
}

.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  color: #689F38;
  border: 1px solid;
}

.p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent;
  color: #689F38;
  border-color: transparent;
}

.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  border-color: transparent;
  color: #689F38;
}

.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  border-color: transparent;
  color: #689F38;
}

.p-splitbutton.p-button-warning > .p-button {
  color: #212529;
  background: #FBC02D;
  border: 1px solid #FBC02D;
}

.p-splitbutton.p-button-warning > .p-button:enabled:hover {
  background: #fab710;
  color: #212529;
  border-color: #fab710;
}

.p-splitbutton.p-button-warning > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #fde6ab;
}

.p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: #e8a704;
  color: #212529;
  border-color: #e8a704;
}

.p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent;
  color: #FBC02D;
  border: 1px solid;
}

.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  color: #FBC02D;
  border: 1px solid;
}

.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  color: #FBC02D;
  border: 1px solid;
}

.p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent;
  color: #FBC02D;
  border-color: transparent;
}

.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  border-color: transparent;
  color: #FBC02D;
}

.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  border-color: transparent;
  color: #FBC02D;
}

.p-splitbutton.p-button-help > .p-button {
  color: #ffffff;
  background: #9C27B0;
  border: 1px solid #9C27B0;
}

.p-splitbutton.p-button-help > .p-button:enabled:hover {
  background: #8c239e;
  color: #ffffff;
  border-color: #8c239e;
}

.p-splitbutton.p-button-help > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #df9eea;
}

.p-splitbutton.p-button-help > .p-button:enabled:active {
  background: #7d1f8d;
  color: #ffffff;
  border-color: #7d1f8d;
}

.p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: #9C27B0;
  border: 1px solid;
}

.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  color: #9C27B0;
  border: 1px solid;
}

.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  color: #9C27B0;
  border: 1px solid;
}

.p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent;
  color: #9C27B0;
  border-color: transparent;
}

.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  border-color: transparent;
  color: #9C27B0;
}

.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  border-color: transparent;
  color: #9C27B0;
}

.p-splitbutton.p-button-danger > .p-button {
  color: #ffffff;
  background: #D32F2F;
  border: 1px solid #D32F2F;
}

.p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: #c02929;
  color: #ffffff;
  border-color: #c02929;
}

.p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #edacac;
}

.p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: #aa2424;
  color: #ffffff;
  border-color: #aa2424;
}

.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: #D32F2F;
  border: 1px solid;
}

.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  color: #D32F2F;
  border: 1px solid;
}

.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  color: #D32F2F;
  border: 1px solid;
}

.p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: #D32F2F;
  border-color: transparent;
}

.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  border-color: transparent;
  color: #D32F2F;
}

.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  border-color: transparent;
  color: #D32F2F;
}
