.p-tieredmenu {
  width: auto;
  min-width: 200px;

  .p-menuitem-link {
    padding: $listItemPadding;
    color: var(--side-panel-text-color);
    user-select: none;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .p-menuitem-link .p-menuitem-icon {
    margin-right: 0.5em;
    font-size: 14px;
  }

  &.p-tieredmenu-overlay {
    border: 1px solid $overlay-panel-border-color;
    border-radius: 4px;
    box-shadow: $defaultBoxShadow;
    background-color: var(--tiered-menu-bg-color);
    margin-top: 5px;
  }

  li[role="separator"] {
    border-top: 1px solid var(--horizontal-line-color);
  }

  li[role="menuitem"] {
    align-items: center;
    display: flex;
    height: 36px;

    &:hover {
      background: var(--tiered-menu-menuitem-bg-hover-color);
    }

    .p-menuitem-content {
      width: 100%;
    }
  }

  .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: var(--action-btn-popup-hover-bg-color);
  }

  .p-menuitem .p-menuitem-text {
    line-height: inherit;
  }

  .p-submenu-list {
    border: 1px solid $overlay-panel-border-color;
    border-radius: 4px;
    background: var(--tiered-menu-bg-color);
    max-width: 250px;
    overflow: auto;
    max-height: 250px;
  }
}
