body {
  .p-toolbar {
    background-color: transparent;
    border-color: $layout-container-admin-border-color;
    padding: $headerPadding;

    .p-toolbar-seperator {
      vertical-align: middle;
      margin: 0 0.5em;
    }
  }

  .dashboard-toolbar {
    height: 50px;
    background-color: $dashboard-card-bg-color;
  }

  .card-toolbar {
    height: auto;
    background-color: $dashboard-card-bg-color !important;
    padding: 0 0 0 1px;
    border: none;
  }

  .dashboard-toolbar-entry {
    border: none;
    padding: 0 5px;
  }
}
