name: CI

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

jobs:

  preflight:
    name: preflight
    runs-on: ubuntu-18.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      rust-channel: ${{ steps.rust-toolchain.outputs.rust-channel }}
      rust-profile: ${{ steps.rust-profile.outputs.rust-profile }}

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v2

      - name: Get version
        id: get-version
        shell: pwsh
        run: |
          $Version = Get-Content VERSION -TotalCount 1
          echo "::set-output name=version::$Version"

      - name: Configure rust toolchain
        id: rust-toolchain
        shell: pwsh
        run: |
          $Channel = (Get-Content 'rust-toolchain.toml' | Select -Skip 1 | ConvertFrom-StringData).channel
          rustup toolchain install $Channel
          rustup component add rustfmt
          echo "::set-output name=rust-channel::$Channel"

      - name: Check formatting
        run: |
          cargo fmt --all -- --check
          if ! [ $? -eq 0 ] ; then
              echo "::error::Bad formatting, please run 'cargo +stable fmt --all'"
              exit 1
          fi

      - name: Configure rust profile
        id: rust-profile
        shell: pwsh
        run: |
          $CargoProfile = "release"
          if ("${{ github.ref }}" -Eq "refs/heads/master") {
            echo "::notice::Building production profile" 
            $CargoProfile = "production"
          }
        
          echo "::set-output name=rust-profile::$CargoProfile"

      - name: Upload version artifact
        uses: actions/upload-artifact@v2
        with:
          name: version
          path: VERSION

  test:
      name: test [${{ matrix.os }} ${{ matrix.arch }}]
      runs-on: ${{ matrix.runner }}
      needs: preflight
      env:
        CONAN_LOGIN_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
        CONAN_PASSWORD: ${{ secrets.ARTIFACTORY_READ_TOKEN }}
      strategy:
        matrix:
          arch: [ x86_64 ]
          os: [ windows, linux ]
          include:
            - os: windows
              runner: windows-2019
            - os: linux
              runner: ubuntu-18.04

      steps:
        - name: Checkout ${{ github.repository }}
          uses: actions/checkout@v2

        - name: Configure rust toolchain
          run: rustup toolchain install ${{ needs.preflight.outputs.rust-channel }}

        - name: Configure Linux runner
          if: matrix.os == 'linux'
          run: |
            sudo apt update
            sudo apt install python3-wget python3-setuptools libsystemd-dev

        - name: Configure conan
          run: |
            pip3 install conan==1.40.0 --upgrade
            conan config install --type=git -sf settings https://github.com/Devolutions/conan-public
            conan remote clean
            conan remote add artifactory https://devolutions.jfrog.io/devolutions/api/conan/conan-local

        - name: Test
          shell: pwsh
          run: ./ci/tlk.ps1 test -Platform ${{ matrix.os }} -Architecture ${{ matrix.arch }} -CargoProfile ${{ needs.preflight.outputs.rust-profile }}


  jetsocat:
    name: jetsocat [${{ matrix.os }} ${{ matrix.arch }}]
    runs-on: ${{ matrix.runner }}
    needs: preflight
    env:
      CONAN_LOGIN_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
      CONAN_PASSWORD: ${{ secrets.ARTIFACTORY_READ_TOKEN }}
    strategy:
      matrix:
        arch: [ x86, x86_64, arm64 ]
        os: [ windows, macos, linux ]
        include:
          - os: windows
            runner: windows-2019
          - os: macos
            runner: macos-10.15
          - os: linux
            runner: ubuntu-18.04
        exclude:
          - arch: x86
            os: macos
          - arch: x86
            os: linux
          - arch: arm64
            os: windows
          - arch: arm64
            os: linux

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v2

      - name: Configure rust toolchain
        run: rustup toolchain install ${{ needs.preflight.outputs.rust-channel }}

      - name: Configure Linux runner
        if: matrix.os == 'linux'
        run: |
          sudo apt update
          sudo apt install python3-wget python3-setuptools

      - name: Configure Windows runner
        if: matrix.os == 'windows' && matrix.arch == 'x86'
        run: rustup target add i686-pc-windows-msvc

      - name: Configure macOS runner
        if: matrix.os == 'macos' && matrix.arch == 'arm64'
        run: |
          sudo rm -rf /Library/Developer/CommandLineTools
          rustup target add aarch64-apple-darwin

      - name: Configure conan
        run: |
          pip3 install conan==1.40.0 --upgrade
          conan config install --type=git -sf settings https://github.com/Devolutions/conan-public
          conan remote clean
          conan remote add artifactory https://devolutions.jfrog.io/devolutions/api/conan/conan-local

      - name: Build
        id: build
        shell: pwsh
        run: |
          $StagingPath = Join-Path $Env:RUNNER_TEMP "staging"
          $TargetOutputPath = Join-Path $StagingPath ${{ matrix.os }} ${{ matrix.arch }}
          $ExecutableFileName = 'jetsocat_${{ runner.os }}_$${{ needs.preflight.outputs.version }}_${{ matrix.arch }}'
          
          if ($Env:RUNNER_OS -eq "Windows") {
            $ExecutableFileName = "$($ExecutableFileName).exe"
            $Env:CARGO_NO_DEFAULT_FEATURES = "true"
            $Env:CARGO_FEATURES = "native-tls"
          }

          $Env:TARGET_OUTPUT_PATH = $TargetOutputPath
          $Env:JETSOCAT_EXECUTABLE = Join-Path $TargetOutputPath $ExecutableFileName
          $Env:CARGO_PACKAGE = "jetsocat"

          ./ci/tlk.ps1 build -Platform ${{ matrix.os }} -Architecture ${{ matrix.arch }} -CargoProfile ${{ needs.preflight.outputs.rust-profile }}

          echo "::set-output name=staging-path::$StagingPath"

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: jetsocat
          path: ${{ steps.build.outputs.staging-path }}

  devolutions-gateway:
    name: devolutions-gateway [${{ matrix.os }} ${{ matrix.arch }}]
    runs-on: ${{ matrix.runner }}
    needs: preflight
    env:
      CONAN_LOGIN_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
      CONAN_PASSWORD: ${{ secrets.ARTIFACTORY_READ_TOKEN }}
    strategy:
      matrix:
        arch: [ x86_64 ]
        os: [ windows, linux ]
        include:
          - os: windows
            runner: windows-2019
          - os: linux
            runner: ubuntu-18.04

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v2

      - name: Load dynamic variables
        id: load-variables
        shell: pwsh
        run: |
          $PackageVersion = "${{ needs.preflight.outputs.version }}"
          $StagingPath = Join-Path $Env:RUNNER_TEMP "staging"
          $TargetOutputPath = Join-Path $StagingPath ${{ matrix.os }} ${{ matrix.arch }}
          $ExecutableFileName = "DevolutionsGateway_${{ runner.os }}_$PackageVersion_${{ matrix.arch }}"

          if ($Env:RUNNER_OS -eq "Windows") {
            $ExecutableFileName = "$($ExecutableFileName).exe"
            $PackageFileName = "DevolutionsGateway-${{ matrix.arch }}-${PackageVersion}.msi"
            $PSModuleOutputPath = Join-Path $StagingPath PowerShell
            $DGatewayPSModulePath = Join-Path $PSModuleOutputPath DevolutionsGateway
            $DGatewayPackage = Join-Path $TargetOutputPath $PackageFileName

            echo "::set-output name=psmodule-output-path::$PSModuleOutputPath"
            echo "::set-output name=dgateway-psmodule-output-path::$DGatewayPSModulePath"
            echo "::set-output name=dgateway-package::$DGatewayPackage"
          }

          $DGatewayExecutable = Join-Path $TargetOutputPath $ExecutableFileName
          echo "::set-output name=staging-path::$StagingPath"
          echo "::set-output name=target-output-path::$TargetOutputPath"
          echo "::set-output name=dgateway-executable::$DGatewayExecutable"

      - name: Configure rust toolchain
        run: rustup toolchain install ${{ needs.preflight.outputs.rust-channel }}

      - name: Configure Linux runner
        if: matrix.os == 'linux'
        run: |
          sudo apt update
          sudo apt install python3-wget python3-setuptools libsystemd-dev dh-make

      # WiX is installed on Windows runners but not in the PATH
      - name: Configure Windows runner
        if: matrix.os == 'windows'
        run: echo "C:\Program Files (x86)\WiX Toolset v3.11\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Configure conan
        run: |
          pip3 install conan==1.40.0 --upgrade
          conan config install --type=git -sf settings https://github.com/Devolutions/conan-public
          conan remote clean
          conan remote add artifactory https://devolutions.jfrog.io/devolutions/api/conan/conan-local

      - name: Build
        shell: pwsh
        env:
          TARGET_OUTPUT_PATH: ${{ steps.load-variables.outputs.target-output-path }}
          DGATEWAY_EXECUTABLE: ${{ steps.load-variables.outputs.dgateway-executable }}
          CARGO_PACKAGE: devolutions-gateway
        run: ./ci/tlk.ps1 build -Platform ${{ matrix.os }} -Architecture ${{ matrix.arch }} -CargoProfile ${{ needs.preflight.outputs.rust-profile }}

      - name: Build PowerShell module
        if: matrix.os == 'windows'
        env:
          PSMODULE_OUTPUT_PATH: ${{ steps.load-variables.outputs.psmodule-output-path }}
        run: .\powershell\build.ps1

      - name: Package
        shell: pwsh
        env:
          TARGET_OUTPUT_PATH: ${{ steps.load-variables.outputs.target-output-path }}
          DGATEWAY_EXECUTABLE: ${{ steps.load-variables.outputs.dgateway-executable }}
        run: |
          if ($Env:RUNNER_OS -eq "Windows") {
            $Env:DGATEWAY_PACKAGE = "${{ steps.load-variables.outputs.dgateway-package }}"
            $Env:DGATEWAY_PSMODULE_PATH = "${{ steps.load-variables.outputs.dgateway-psmodule-output-path }}"
          }

          ./ci/tlk.ps1 package -Platform ${{ matrix.os }} -Architecture ${{ matrix.arch }} -CargoProfile ${{ needs.preflight.outputs.rust-profile }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: devolutions-gateway
          path: ${{ steps.load-variables.outputs.staging-path }}
