[package]
name = "network-scanner-net"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.82"
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
parking_lot = "0.12.1"
polling = { git = "https://github.com/devolutions/polling.git", rev = "c04e8ee40415cad551fe044457270f4a2d7c491d" }
socket2 = { version = "0.5.6", features = ["all"] }
thiserror = "1.0.59"
tracing = "0.1.40"

[dev-dependencies]
tracing-cov-mark = { path = "../tracing-cov-mark" }
tracing-subscriber = "0.3.18"
tokio = { version = "1.37.0", features = [
    "rt",
    "sync",
    "macros",
    "rt-multi-thread",
    "time",
    "net",
    "io-util"
] }
