[package]
name = "network-scanner-net"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = "1.0.79"
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
futures = "0.3.30"
parking_lot = "0.12.1"
polling = "3.3.2"
socket2 = { version = "0.5.5", features = ["all"] }
thiserror = "1.0.56"
tokio-stream = "0.1.14"
tracing = "0.1.40"

[dev-dependencies]
tracing-subscriber = "0.3.18"
tokio = { version = "1.35.1", features = [
    "rt",
    "sync",
    "macros",
    "rt-multi-thread",
    "time",
    "net",
    "io-util"
] }
