[package]
name = "network-scanner-net"
version = "0.0.0"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
anyhow = "1"
crossbeam = { version = "0.8", features = ["crossbeam-channel"] }
parking_lot = "0.12"
polling = "3.7"
socket2 = { version = "0.5", features = ["all"] }
thiserror = "1"
tracing = "0.1"

[dev-dependencies]
tracing-cov-mark = { path = "../tracing-cov-mark" }
tracing-subscriber = "0.3"
tokio = { version = "1.38", features = [
    "rt",
    "sync",
    "macros",
    "rt-multi-thread",
    "time",
    "net",
    "io-util"
] }
